{% extends "layouts/base.html" %}

{% block title %} 員工通勤 {% endblock %}

{% block body_class %} employee-commute {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                                    <h3 class="text-white text-primary mb-0">新增 ᅳ 員工通勤</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/employee_commute_add/" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row mb-4">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>年度 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.years }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>員工編號 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.employee_id }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>姓名 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.employee_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>服務部門 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.department }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>年工作天數 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.work_days }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>居住縣市 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.city }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>鄉鎮市區 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.township }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>行政區公家機關地址 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.address }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>至公司距離(單位:公里) <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ EC_add.commute_distance }}
                                                </div>
                                            </div>

                                            <br>
                                            <div class="row mb-4">
                                                交通方式
                                            </div>
                                            {{ CommuteFormSet.management_form }}
                                            {{ CommuteFormSet.non_form_errors }}
                                            {% for a in CommuteFormSet %}
                                                <div id="commute_section">
                                                    <div class="row mb-4 commute" id="0">
                                                        {% for hidden in a.hidden_fields %}
                                                            {{ hidden }}
                                                        {% endfor %}
                                                        <div class="col-4">
                                                            <div class="input-group input-group-static mb-4">
                                                                <label>交通方式 <span style="color:red; font-size:16px;">* </span></label>
                                                                {{ a.transportation.errors }}
                                                                {{ a.transportation }}
                                                            </div>
                                                        </div>
                                                        <div class="col-1 d-flex align-items-center">
                                                            <div class="input-group input-group-static mb-4">
                                                                <a class="col" onclick="DuplicateCommute()"><i class="fa-solid fa-circle-plus fa-2xl"></i></a>
                                                                <a class="col" onclick="DeleteCommute(this)"><i class="fa-solid fa-circle-minus fa-2xl"></i></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <div class="d-flex">
                                                <div class="col-6">
                                                    <div class="input-group input-group-static mb-4">
                                                        <label>上傳引用單據</label>
                                                        {{ EC_add.image_note }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="ps-md-2 align-self-center">
                                                    <div class="col-2" multiple="multiple">
                                                        <input type="hidden" name="stage" value="員工通勤">
                                                        <input class="form-control-file" type="file" id="attachment" name="file_field" multiple="multiple" accept="image/*, .pdf">
                                                    </div>
                                                </div>
                                                <div id="files-area">
                                                    <span id="filesList">
                                                        <span id="files-names"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                        <div class="row mb-4">
                                            <div class="col">
                                                <div class="form-control">
                                                    <label>備註欄</label>
                                                    {{ EC_add.message_board }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <div class="col-auto mx-3">
                                                <button type="submit" name="addAnother" class="btn bg-gradient-secondary mt-3 mb-0">
                                                    確認，並新增另一筆
                                                </button>
                                            </div>
                                            <div class="col-auto mx-3">
                                                <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                    確認
                                                </button>
                                            </div>
                                            <div class="col-auto mx-3">
                                                <button type="button" class="btn bg-gradient-secondary mt-3 mb-0" onclick="history.back()">
                                                    取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    {#    datepicker#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    {#    icon#}
    <script src="https://kit.fontawesome.com/b0f00faca8.js" crossorigin="anonymous"></script>


    <script>
        {#    顯示新增成功訊息#}
        $(document).ready(function () {
            {% if messages %}
                {% for message in messages %}
                    let success_message = "{{ message }}"
                    alert(success_message);
                {% endfor %}
            {% endif %}
        });

        {#    禁止enter鍵#}
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
                e.preventDefault();
                return false;
            }
        });


        {#    年度篩選器#}
        $("#years").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            orientation: "bottom",
            autoclose: "true",
        }).datepicker("setDate", 'now');


        {#    購買年份篩選器#}
        $("#years_purchased").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            orientation: "bottom",
            autoclose: "true",
        }).datepicker("setDate", 'now');


        {#    照片顯示檔名+可刪除#}
        const dt = new DataTransfer(); // 允許操作輸入文件的文件
        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', {class: 'file-block'}),
                    fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
                fileBloc.append('<span class="file-delete"><span>+</span></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
            }
            // 將文件添加到 DataTransfer 對象
            for (let file of this.files) {
                dt.items.add(file);
            }
            // 添加後更新輸入文件中的文件
            this.files = dt.files;

            // 創建的刪除按鈕的事件監聽器
            $('span.file-delete').click(function () {
                let name = $(this).next('span.name').text();
                // 抑製文件名的顯示
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // 匹配文件名
                    if (name === dt.items[i].getAsFile().name) {
                        // 刪除DataTransfer對像中的文件
                        dt.items.remove(i);
                    }
                }
                // 刪除後更新輸入文件中的文件
                document.getElementById('attachment').files = dt.files;
            });
        });


        {#    新增/刪除出差段數#}
        var commute_count = 0;

        function DuplicateCommute() {
            commute_count += 1;
            document.getElementById("id_transportation_way_set-TOTAL_FORMS").value = (commute_count + 1).toString()
            var commute_section = document.getElementById("commute_section")
            var first_trip = document.getElementsByClassName("commute")[0]
            var clone = first_trip.cloneNode(true);
            commute_section.appendChild(clone)
            clone.id = (commute_count)
            var select = document.querySelectorAll(".commute:last-child > div > div > select")
            select[0].id = "id_transportation_way_set-" + commute_count + "-transportation"
            select[0].name = "transportation_way_set-" + commute_count + "-transportation"
            select[0].value = ""
        }

        function DeleteCommute(deletbutton) {
            if (commute_count > 0) {
                commute_count -= 1;
                deletbutton.closest("div.commute").remove()
                document.getElementById("id_transportation_way_set-TOTAL_FORMS").value = (commute_count + 1).toString()
                var commute = document.getElementsByClassName("commute")
                for (let i = 0; i <= commute_count; i++) {
                    commute[i].id = i.toString()
                    let select = document.querySelectorAll(".commute:nth-child(" + (i + 1) + ") > div > div > select")
                    select[0].id = ("id_transportation_way_set-" + i + "-transportation").toString()
                    select[0].name = ("transportation_way_set-" + i + "-transportation").toString()
                }
            }
        }
    </script>
{% endblock javascripts %}