/*Label_AfterClick*/
.input-group.input-group-dynamic.is-focused label, .input-group.input-group-static.is-focused label {
    color: black !important;
}

/*BottomLine_AfterClick*/
.input-group.input-group-dynamic .form-control, .input-group.input-group-dynamic .form-control:focus, .input-group.input-group-static .form-control, .input-group.input-group-static .form-control:focus {
    background-image: linear-gradient(0deg, #495057 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
    border-radius: 0 !important;
}

label, .form-label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
    margin-left: 0.25rem;
}

thead, .table {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

.form-check {
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.form-control {
    font-size: 1.1rem;
}

.bg-gradient-primary {
    background-image: linear-gradient(195deg, #fb8c00 0%, #49a3f1 100%);
}

.form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked {
    background: black !important;
}

.form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked, .form-check:not(.form-switch) .form-check-input[type="radio"]:checked {
    border-color: black !important;
}

.textarea {
    font-weight: bold;
    /* display: block; */
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #495057;
    background-color: #f0f2f5;
    background-clip: padding-box;
    border: 1px solid #d2d6da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: 0.2s ease;
}

.form-control:focus {
    font-weight: bold;
    color: black;
    background-color: #f0f2f5;
    border-color: #0e101a;
    outline: 0;
    box-shadow: none;
}

.form-check:not(.form-switch) .form-check-input[type="radio"]:after {
    transition: opacity 0.25s ease-in-out;
    content: "";
    position: absolute;
    width: 0.8375rem;
    height: 0.8375rem;
    border-radius: 50%;
    background-image: linear-gradient(195deg, #42424a 0%, #42424a 100%), var(--bs-gradient);
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*.form-check-input:checked[type="checkbox"] {*/
/*    background-image: linear-gradient(195deg, black 0%, black 100%);!important;*/
/*}*/

/*.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {*/
/*  background-color: #495057!important;*/
/*}*/