.body{
    color: #7b809a;

}
.page-header{

}
.form-control:focus{
    color: #495057;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    background-image: linear-gradient(0deg, #adb5bd 2px, rgba(156, 39, 176, 0) 0);
}