# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ================================
# Virtual Environment
# ================================
env/
venv/
.venv/

# ================================
# Environment Variables / Secrets
# ================================
.env
.env.*
!.env.example
!env.sample

# ================================
# Database & Logs
# ================================
*.db
*.sqlite3
*.log

# ================================
# Django
# ================================
staticfiles/*
!staticfiles/.gitkeep

media/

# ================================
# Tests & Coverage
# ================================
.pytest_cache/
.coverage
htmlcov/

# ================================
# IDE / Editor
# ================================
.idea/
.vscode/
*.swp
.DS_Store

# ================================
# Node / Frontend (if used)
# ================================
node_modules/
package-lock.json
yarn.lock

apps/static/assets/node_modules/
apps/static/assets/yarn.lock
apps/static/assets/.temp/

# ================================
# Misc
# ================================
*.csv
*.xlsx
*.bak
*.tmp
