<!-- Navbar Transparent -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
        <a class="navbar-brand  text-white " href="/" rel="tooltip" title="Designed and Coded by Creative Tim"
           data-placement="bottom">
            首頁
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">

                {% if request.user.is_authenticated %}

                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                           href="/carbon-system/">
                            <p class="d-inline text-sm z-index-1 font-weight-bold">碳盤系統</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover me-2">
                        <div class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                            <i class="fa-solid fa-list mb-3 me-1"></i>
                            <p class="d-inline text-sm z-index-1 font-weight-bold">選單</p>
                        </div>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item border-radius-md border-bottom text-center" id="summary" data-bs-toggle="modal" data-bs-target="#CalculateSummaryModal" href="javascript:;">產生總表</a></li>
                            <li><a class="dropdown-item border-radius-md border-bottom text-center" id="inventory" data-bs-toggle="modal" data-bs-target="#InventorySummaryModal" href="javascript:;">產生清冊</a></li>
                            <li><a class="dropdown-item border-radius-md border-bottom text-center" href="javascript:;">產生報告書</a></li>
                        </ul>
                    </li>

{#                    <li class="nav-item dropdown dropdown-hover me-2 ">#}
{#                        <div class="nav-link ps-2 d-flex cursor-pointer align-items-center">#}
{#                            <i class="fa-solid fa-list mb-3 me-1"></i>#}
{#                            <p class="d-inline text-sm z-index-1 font-weight-bold">查看</p>#}
{#                        </div>#}
{#                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton">#}
{#                            <li>#}
{#                                <div class="btn-group dropend">#}
{#                                    <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                        基礎設定#}
{#                                    </button>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center" href="#">特定係數資料表</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">評估因子資料維護</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">類別資料維護</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">表格維護</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">活動數據等級表(含排放係數等級、不確定等級)</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">定性及定量等級評估表</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">數據精確程度表</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="btn-group dropend">#}
{#                                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                        資料維護#}
{#                                    </button>#}
{#                                    <ul class="dropdown-menu">#}
{##}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">活動數據收集</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">數據表維護</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="btn-group dropend">#}
{#                                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                        查詢#}
{#                                    </button>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">顯著性間接溫室氣體排放準則評估表</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">溫室氣體排放量統計AR6</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">溫室氣體排放清冊</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">溫室氣體盤查數據蒐集確認表</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">GWP值</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">係數表</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">不確定定性分析</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">不確定定量分析</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">定性及定量等級評估</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="btn-group dropend">#}
{#                                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                        報表#}
{#                                    </button>#}
{#                                    <ul class="dropdown-menu">#}
{##}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">清冊</a></li>#}
{#                                        <li><a class="dropdown-item border-radius-md border-bottom text-center">報告書</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}

                    <a class="nav-link ps-2 d-flex cursor-pointer me-1"
                       data-bs-toggle="modal" data-bs-target="#settingsModal" type="button">
                        <i class="fa-solid fa-gear me-1 mt-1"></i>
                        <p class="d-inline text-sm z-index-1 font-weight-bold">設定</p>
                    </a>
                    <li class="nav-item ms-lg-auto nav-link nav-link-icon me-2">
                        <i class="fa-solid fa-user me-1"></i>
                        <p class="d-inline text-sm z-index-1 font-weight-bold">{{ request.user.username }}</p>
                    </li>
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link nav-link-icon me-2"
                           href="{% url 'logout' %}">
                            <i class="fa fa-sign-out me-1"></i>
                            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                               data-bs-placement="bottom" title="Sign OUT">Logout</p>
                        </a>
                    </li>



                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->

{#產生總表#}
<div class="modal fade" id="CalculateSummaryModal" tabindex="-1" aria-labelledby="CalculateSummaryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="row ps-4" style="width: 466px">
                        <h5 class="text-warning bg-dark d-flex justify-content-center" id="CalculateSummaryModalLabel">產生總表</h5>
                    </div>
                    <div class="row">
                        <h5 class="text-primary d-flex justify-content-center">如需更改請至"設定"</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row d-flex align-items-center mb-3">
                    <div class="col-auto">
                        <h6>GWP版本: </h6>
                    </div>
                    <div class="form-check form-check-inline col-auto m-0">
                        {% for version in gwp_list %}
                            {% if version == request.session.gwp_version %}
                                <input class="form-check-input disabled_scc" type="radio" name="gwpVersion_calculate" id="flexRadioDefault{{ version }}" value={{ version }} disabled checked>
                                <label class="form-check-label me-2" for="flexRadioDefault{{ version }}">
                                    GWP {{ version }}
                                </label>
                            {% else %}
                                <input class="form-check-input disabled_scc" type="radio" name="gwpVersion_calculate" id="flexRadioDefault{{ version }}" value={{ version }} disabled>
                                <label class="form-check-label me-2" for="flexRadioDefault{{ version }}">
                                    GWP {{ version }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row d-flex align-items-start mb-3">
                    <div class="col-auto">
                        <h6>係數來源: </h6>
                    </div>
                    <div class="form-check col-auto m-0">
                        {% for version in excluded_coefficient_list %}
                            <div class="col-auto">
                                <input class="form-check-input disabled_scc" type="checkbox" name="default_coefficient_source_calculate" id="{{ version }}" value={{ version }} disabled checked>
                                <label class="form-check-label me-2" for="{{ version }}">
                                    {{ version }}
                                </label>
                            </div>
                        {% endfor %}
                        {% for version in epa_coefficient_list %}
                            {% if version == request.session.coefficient_source %}
                                <div class="col-auto">
                                    <input class="form-check-input disabled_scc" type="radio" name="coefficient_source_calculate" id="{{ version }}" value={{ version }} disabled checked>
                                    <label class="form-check-label me-2" for="{{ version }}">
                                        {{ version }}
                                    </label>
                                </div>
                            {% else %}
                                <div class="col-auto">
                                    <input class="form-check-input disabled_scc" type="radio" name="coefficient_source_calculate" id="{{ version }}" value={{ version }} disabled>
                                    <label class="form-check-label me-2" for="{{ version }}">
                                        {{ version }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger" id="calculate_summary" data-bs-dismiss="modal" onclick="location.href='{% url 'calculate_summary' %}'">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>

{#產出清冊#}
<div class="modal fade" id="InventorySummaryModal" tabindex="-1" aria-labelledby="InventorySummaryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="row ps-4" style="width: 466px">
                        <h5 class="text-warning bg-dark d-flex justify-content-center" id="InventorySummaryModalLabel">產生清冊</h5>
                    </div>
                    <div class="row">
                        <h5 class="text-primary d-flex justify-content-center">如需更改請至"設定"</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row d-flex align-items-center mb-3">
                    <div class="col-auto">
                        <h6>GWP版本: </h6>
                    </div>
                    <div class="form-check form-check-inline col-auto m-0">
                        {% for version in gwp_list %}
                            {% if version == request.session.gwp_version %}
                                <input class="form-check-input disabled_scc" type="radio" name="gwpVersion_inventory" id="flexRadioDefault{{ version }}" value={{ version }} disabled checked>
                                <label class="form-check-label me-2" for="flexRadioDefault{{ version }}">
                                    GWP {{ version }}
                                </label>
                            {% else %}
                                <input class="form-check-input disabled_scc" type="radio" name="gwpVersion_inventory" id="flexRadioDefault{{ version }}" value={{ version }} disabled>
                                <label class="form-check-label me-2" for="flexRadioDefault{{ version }}">
                                    GWP {{ version }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row d-flex align-items-start mb-3">
                    <div class="col-auto">
                        <h6>係數來源: </h6>
                    </div>
                    <div class="form-check col-auto m-0">
                        {% for version in excluded_coefficient_list %}
                            <div class="col-auto">
                                <input class="form-check-input disabled_scc" type="checkbox" name="default_coefficient_source_inventory" id="{{ version }}" value={{ version }} disabled checked>
                                <label class="form-check-label me-2" for="{{ version }}">
                                    {{ version }}
                                </label>
                            </div>
                        {% endfor %}
                        {% for version in epa_coefficient_list %}
                            {% if version == request.session.coefficient_source %}
                                <div class="col-auto">
                                    <input class="form-check-input disabled_scc" type="radio" name="coefficient_source_inventory" id="{{ version }}" value={{ version }} disabled checked>
                                    <label class="form-check-label me-2" for="{{ version }}">
                                        {{ version }}
                                    </label>
                                </div>
                            {% else %}
                                <div class="col-auto">
                                    <input class="form-check-input disabled_scc" type="radio" name="coefficient_source_inventory" id="{{ version }}" value={{ version }} disabled>
                                    <label class="form-check-label me-2" for="{{ version }}">
                                        {{ version }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger" id="inventory_summary" data-bs-dismiss="modal" onclick="location.href='{% url 'inventory_summary' %}'">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar -->

{% block javascripts %}
    {#    icon#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b0f00faca8.js" crossorigin="anonymous"></script>
    <script>

    </script>
{% endblock javascripts %}