{% extends "layouts/base.html" %}

{% block title %} 氣體 {% endblock %}

{% block body_class %} material {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3 d-flex align-items-end">
                                    <h3 class="text-white text-primary mb-0">新增 ᅳ 氣體</h3><h6 class="text-white mb-0">盤查年度: {{ years }}</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/process_gas_add/" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row mb-3">
                                            <div class="col-4">
                                                {% for error in PG_add.receipt_number.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>單號 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ PG_add.receipt_number }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                {% for error in PG_add.department.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>所屬部門 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ PG_add.department }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                {% for error in PG_add.receipt_date.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>領用日期 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ PG_add.receipt_date }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-4">
                                                {% for error in PG_add.amount.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>數量 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ PG_add.amount }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                {% for error in PG_add.unit.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>數量單位 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ PG_add.unit }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                {% for error in PG_add.per_amount.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>每單位規格( 單位: {{ PG_add.per_unit }} ) <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ PG_add.per_amount }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        添加氣體
                                        {% for error in ProcessGasAddFormSet.non_form_errors %}
                                            <li style="color: red">{{ error }}</li>
                                        {% endfor %}
                                    </div>
                                    {{ ProcessGasAddFormSet.management_form }}
                                    {% for error in ProcessGasAddFormSet.non_field_errors %}
                                        <li style="color: red">{{ error }}</li>
                                    {% endfor %}
                                    {% for a in ProcessGasAddFormSet %}
                                        <div id="gas_add">
                                            <div class="row mb-4 gas" id="0">
                                                {% for hidden in a.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                                <div class="col-4">
                                                    {% for error in a.gas_name.errors %}
                                                        <li style="color: red">{{ error }}</li>
                                                    {% endfor %}
                                                    <div class="input-group input-group-static mb-4">
                                                        <label>氣體名稱 <span style="color:red; font-size:16px;">* </span></label>
                                                        {{ a.gas_name }}
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    {% for error in a.gas_ratio.errors %}
                                                        <li style="color: red">{{ error }}</li>
                                                    {% endfor %}
                                                    <div class="input-group input-group-static mb-4">
                                                        <label>氣體含量(%) <span style="color:red; font-size:16px;">* </span></label>
                                                        {{ a.gas_ratio }}
                                                    </div>
                                                </div>
                                                <div class="col-2 d-flex align-items-center">
                                                    <div class="input-group input-group-static mb-4">
                                                        <a class="col" onclick="DuplicateGas()"><i class="fa-solid fa-circle-plus fa-2xl"></i></a>
                                                        <a class="col" onclick="DeleteGas(this)"><i class="fa-solid fa-circle-minus fa-2xl"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                    <br>
                                    <div class="d-flex">
                                        <div class="col-6">
                                            <div class="input-group input-group-static mb-4">
                                                <label>上傳引用單據</label>
                                                {{ PG_add.image_note }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="ps-md-2 align-self-center">
                                            <div class="col-2" multiple="multiple">
                                                <input type="hidden" name="stage" value="原物料">
                                                <input class="form-control-file" type="file" id="attachment" name="file_field" multiple="multiple" accept="image/*, .pdf">
                                            </div>
                                        </div>
                                        <div id="files-area">
                                            <span id="filesList">
                                                <span id="files-names"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-control">
                                                <label>備註欄</label>
                                                {% for error in MT_add.message_board.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                {{ PG_add.message_board }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="col-auto mx-3">
                                            <button type="submit" name="addAnother" class="btn bg-gradient-secondary mt-3 mb-0">
                                                確認，並新增另一筆
                                            </button>
                                        </div>
                                        <div class="col-auto mx-3">
                                            <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                確認
                                            </button>
                                        </div>
                                        <div class="col-auto mx-3">
                                            <a class="btn bg-gradient-secondary mt-3 mb-0" href="{% url 'carbon-system' %}">
                                                取消
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    {#    datepicker#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    {#    select2#}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>


    <script>
        {#    顯示新增成功訊息#}
        $(document).ready(function () {
            {% if messages %}
                {% for message in messages %}
                    let success_message = "{{ message }}"
                    alert(success_message);
                {% endfor %}
            {% endif %}
            // 顯示錯誤框
            {% for field in MT_add %}
                {% for error in field.errors %}
                    error_name = "{{ field.label }}"
                    if (
                        error_name === 'January' || error_name === 'February' || error_name === 'March' || error_name === 'April' ||
                        error_name === 'May' || error_name === 'June' || error_name === 'July' || error_name === 'August' ||
                        error_name === 'September' || error_name === 'October' || error_name === 'November' || error_name === 'December'
                    ) {
                        error_name = error_name.toLowerCase()
                        error_input = document.querySelector("[name=" + error_name + "]");
                        parentDiv = error_input.parentNode;
                        parentDiv.classList.add("border", "border-danger", "border-3");
                    }
                {% endfor %}
            {% endfor %}
        });


        {#    月份篩選器#}
        $("#receipt_date").datepicker({
            format: "yyyy-mm-dd",
            orientation: "bottom",
            autoclose: "true",
        }).datepicker("setDate", 'now');

        {#    禁止enter鍵#}
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
                e.preventDefault();
                return false;
            }
        });

        {# select2#}
        $('#single-select-field').select2({
            theme: "bootstrap-5",
            {#width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',#}
            {#placeholder: $(this).data('placeholder'),#}
            width: 300
        });

        {#    照片顯示檔名+可刪除#}
        const dt = new DataTransfer(); // 允許操作輸入文件的文件
        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', {class: 'file-block'}),
                    fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
                fileBloc.append('<span class="file-delete"><span>+</span></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
            }
            // 將文件添加到 DataTransfer 對象
            for (let file of this.files) {
                dt.items.add(file);
            }
            // 添加後更新輸入文件中的文件
            this.files = dt.files;

            // 創建的刪除按鈕的事件監聽器
            $('span.file-delete').click(function () {
                let name = $(this).next('span.name').text();
                // 抑製文件名的顯示
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // 匹配文件名
                    if (name === dt.items[i].getAsFile().name) {
                        // 刪除DataTransfer對像中的文件
                        dt.items.remove(i);
                    }
                }
                // 刪除後更新輸入文件中的文件
                document.getElementById('attachment').files = dt.files;
            });
        });

        {#    新增/刪除氣體段數#}
        var gas_count = 0;

        function DuplicateGas() {
            gas_count += 1;
            document.getElementById("id_processgasadd_set-TOTAL_FORMS").value = (gas_count + 1).toString()
            var gas_add = document.getElementById("gas_add")
            var first_trip = document.getElementsByClassName("gas")[0]
            var clone = first_trip.cloneNode(true);
            gas_add.appendChild(clone)
            clone.id = (gas_count)
            var input = document.querySelectorAll(".gas:last-child > div > div > input")
            input[0].id = "id_processgasadd_set-" + gas_count + "-gas_name"
            input[0].name = "processgasadd_set-" + gas_count + "-gas_name"
            input[1].id = "id_processgasadd_set-" + gas_count + "gas_ratio"
            input[1].name = "processgasadd_set-" + gas_count + "gas_ratio"
            input[0].value = ""
            input[1].value = ""
        }

        function DeleteGas(deletbutton) {
            if (gas_count > 0) {
                gas_count -= 1;
                deletbutton.closest("div.gas").remove()
                document.getElementById("id_processgasadd_set-TOTAL_FORMS").value = (gas_count + 1).toString()
                var gas = document.getElementsByClassName("gas")
                for (let i = 0; i <= gas_count; i++) {
                    gas[i].id = i.toString()
                    let input = document.querySelectorAll(".gas:nth-child(" + (i + 1) + ") > div > div > input")
                    input[0].id = ("id_processgasadd_set-" + i + "-gas_name").toString()
                    input[0].name = ("processgasadd_set-" + i + "-gas_name").toString()
                    input[1].id = ("id_processgasadd_set-" + i + "gas_ratio").toString()
                    input[1].name = ("processgasadd_set-" + i + "gas_ratio").toString()
                }
            }
        }
    </script>
{% endblock javascripts %}