{% extends "layouts/base.html" %}

{% block title %} carbon-system {% endblock %}

{% block body_class %} carbon-system {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>
{% endblock stylesheets %}

{% block content %}

    {% include 'includes/navigation-transparent.html' %}

    <header class="bg-gradient-dark">
        <div class="page-header min-vh-70" style="background-image: url('{{ ASSETS_ROOT }}/img/gay.png');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <section>
                    <div class="container py-4">
                        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                            <form action="" role="form" id="contact-form" method="GET" autocomplete="off">
                                <div class="card-body">
                                    <div class="row">
                                        <form method="get" action="/cclass/">
                                            <div class="col-3">
                                                <h2 class="lead form-label" for="ClassName">請選擇: </h2>
                                            </div>
                                            <div class="col-6">
                                                <div class="btn-group dropend">
                                                    <button type="button" class="btn btn-secondary dropdown-toggle mb-1"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        類別
                                                    </button>
                                                    <select class="dropdown-menu" id="dropdown-menu-1">
                                                        <option class="dropdown-item" id="question-subject" name="cclass" value="1">
                                                            類別一
                                                        </option>
                                                        <option class="dropdown-item" id="question-subject" name="cclass" value="2">
                                                            類別二
                                                        </option>
                                                        <option class="dropdown-item" id="question-subject" name="cclass" value="3">
                                                            類別三
                                                        </option>
                                                        <option class="dropdown-item" id="question-subject" name="cclass" value="4">
                                                            類別四
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <input type="submit" value="ok" class="btn-sm btn-outline-secondary ms-1">
                                            </div>

                                        </form>
                                    </div>
                                    <div class="row">
                                        <form method="get" action="//">
                                            <div class="col-3">
                                                <h2 class="lead form-label" for="ProcessName">請選擇: </h2>
                                            </div>
                                            <div class="col-6">
                                                <div class="btn-group dropend">
                                                    <button type="button" class="btn btn-secondary dropdown-toggle mb-1"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        過程區域
                                                    </button>
                                                    <select class="dropdown-menu" id="dropdown-menu-1">
                                                        {% for p in allProcess %}
                                                            <option class="dropdown-item" id="question-subject" name="process" value="1">
                                                                {{ p.P_name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <input type="submit" value="ok" class="btn-sm btn-outline-secondary ms-1">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <form method="get" action="//">
                                            <div class="col-3">
                                                <h2 class="lead form-label" for="ClassName">請選擇: </h2>
                                            </div>
                                            <div class="col-6">
                                                <div class="btn-group dropend">
                                                    <button type="button" class="btn btn-secondary dropdown-toggle mb-1"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        設備
                                                    </button>
                                                    <select class="dropdown-menu" id="dropdown-menu-1">
                                                        <option class="dropdown-item" id="question-subject" name="cclass" value="1">

                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <input type="submit" value="ok" class="btn-sm btn-outline-secondary ms-1">
                                            </div>
                                        </form>
                                    </div>

                                    <div class="mb-4">
                                        <input type="submit" value="送出" class="btn btn-outline-secondary ms-1">
                                    </div>

                                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                                    <div class="mb-4">
                                        <div class="d-flex">
                                            <a type="button" class="btn btn-outline-secondary me-1" href="/emergency_generators/">
                                                新增
                                            </a>
                                            <button type="button" class="btn btn-outline-secondary ms-1">
                                                匯出Excel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </header>

    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>
        // get the element to animate
        var element = document.getElementById('count-stats');
        var elementHeight = element.clientHeight;

        // listen for scroll event and call animate function

        document.addEventListener('scroll', animate);

        // check if element is in view
        function inView() {
            // get window height
            var windowHeight = window.innerHeight;
            // get number of pixels that the document is scrolled
            var scrollY = window.scrollY || window.pageYOffset;
            // get current scroll position (distance from the top of the page to the bottom of the current viewport)
            var scrollPosition = scrollY + windowHeight;
            // get element position (distance from the top of the page to the bottom of the element)
            var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;

            // is scroll position greater than element position? (is element in view?)
            if (scrollPosition > elementPosition) {
                return true;
            }

            return false;
        }

        var animateComplete = true;

        // animate element when it is in view
        function animate() {

            // is element in view?
            if (inView()) {
                if (animateComplete) {
                    if (document.getElementById('state1')) {
                        const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
                        if (!countUp.error) {
                            countUp.start();
                        } else {
                            console.error(countUp.error);
                        }
                    }
                    if (document.getElementById('state2')) {
                        const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
                        if (!countUp1.error) {
                            countUp1.start();
                        } else {
                            console.error(countUp1.error);
                        }
                    }
                    if (document.getElementById('state3')) {
                        const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
                        if (!countUp2.error) {
                            countUp2.start();
                        } else {
                            console.error(countUp2.error);
                        }

                    }
                    animateComplete = false;
                }
            }
        }

        if (document.getElementById('typed')) {
            var typed = new Typed("#typed", {
                stringsElement: '#typed-strings',
                typeSpeed: 90,
                backSpeed: 90,
                backDelay: 200,
                startDelay: 500,
                loop: true
            });
        }
    </script>

    <script>
        if (document.getElementsByClassName('page-header')) {
            window.onscroll = debounce(function () {
                var scrollPosition = window.pageYOffset;
                var bgParallax = document.querySelector('.page-header');
                var oVal = (window.scrollY / 3);
                bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
            }, 6);
        }
    </script>

    {#    <script>#}
    {#    $("#dropdown-menu-1").val().change(function() {#}
    {#      var currentClass = $(this).val();#}
    {##}
    {#      $.ajax({#}
    {#        url: '/dropdown/ajax/load_cities/',#}
    {#        data: {#}
    {#          'currentClass': currentClass#}
    {#        },#}
    {#        type: 'GET',#}
    {#        dataType: 'json',#}
    {#        success: function (data) {#}
    {#            var content='';#}
    {#            $.each(data, function(i, item){#}
    {#                  content+='<option value='+item.id+'>'+item.name+'</option>'#}
    {#                });#}
    {#            $('#dropdown-menu-2').html(content)#}
    {#        },#}
    {##}
    {#      });#}
    {#    });#}
    {#  </script>#}

{% endblock javascripts %}