{% extends "layouts/base.html" %}

{% block title %} 碳盤查系統 {% endblock %}

{% block body_class %} carbon-system {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>
{% endblock stylesheets %}

{% block content %}

    {% include 'includes/navigation-transparent.html' %}

    <header class="bg-gradient-dark">
        <div class="page-header min-vh-50"
             style="background-image: url('{{ ASSETS_ROOT }}0008020206520995_b.jpng');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <code style="font-size: 20px">盤查年份: <span id="yearDisplay"></span></code>
                <div class="row">
                    {% if company_id == 1 %}
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="col-3">
                                    <label class="lead form-label ms-0" for="company_dropdown" style="color: whitesmoke">公司廠別</label>
                                    <select class="" id="company_dropdown" name="company_dropdown" onchange="companyID()">
                                        <option class="" id="question-subject" value="0" name="" selected>
                                            <---請選擇類別--->
                                        </option>
                                        {% for company in company_group %}
                                            <option class="" id="question-subject" value="{{ company.id }}">
                                                {{ company.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="lead form-label ms-0" for="ClassName" style="color: whitesmoke">類別</label>
                                    <select class="" id="dropdown_one" name="dropdown_one" onchange="DropdownOne(this)" disabled>
                                        <option class="" id="question-subject" value="0" name="" selected>
                                            <---請選擇類別--->
                                        </option>
                                        <option class="" id="question-subject" value="1">
                                            直接溫室氣體排放(類別一)
                                        </option>
                                        <option class="" id="question-subject" value="2">
                                            輸入能源之間接溫室氣體排放(類別二)
                                        </option>
                                        <option class="" id="question-subject" value="3">
                                            運輸之間接溫室氣體排放(類別三)
                                        </option>
                                        <option class="" id="question-subject" value="4">
                                            組織使用的產品之間接溫室氣體排放(類別四)
                                        </option>
                                        <option class="" id="question-subject" value="5">
                                            使用組織產品之間接溫室氣體排放(類別五)
                                        </option>
                                        <option class="" id="question-subject" value="6">
                                            其他來源之間接溫室氣體排放(類別六)
                                        </option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="lead form-label" for="ProcessName" style="color: whitesmoke">過程區域</label>
                                    {#                                    <script src="{% static 'h' %}"></script>#}
                                    <select class="" id="dropdown_two" name="dropdown_two" onchange="DropdownTwo(this)" disabled></select>
                                </div>
                                <div class="col-3">
                                    <label class="lead form-label" for="ClassName" style="color: whitesmoke">設備</label>
                                    <select class="" id="dropdown_three" name="dropdown_three" disabled></select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input id="submit" type="submit" value="查詢" class="btn btn-outline-light ms-1">
                        </div>
                    {% else %}
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="col-5">
                                    <label class="lead form-label ms-0" for="ClassName" style="color: whitesmoke">類別</label>
                                    <select class="" id="dropdown_one" name="dropdown_one" onchange="DropdownOne(this)">
                                        <option class="" id="question-subject" value="0" name="" selected>
                                            <---請選擇類別--->
                                        </option>
                                        <option class="" id="question-subject" value="1">
                                            直接溫室氣體排放(類別一)
                                        </option>
                                        <option class="" id="question-subject" value="2">
                                            輸入能源之間接溫室氣體排放(類別二)
                                        </option>
                                        <option class="" id="question-subject" value="3">
                                            運輸之間接溫室氣體排放(類別三)
                                        </option>
                                        <option class="" id="question-subject" value="4">
                                            組織使用的產品之間接溫室氣體排放(類別四)
                                        </option>
                                        <option class="" id="question-subject" value="5">
                                            使用組織產品之間接溫室氣體排放(類別五)
                                        </option>
                                        <option class="" id="question-subject" value="6">
                                            其他來源之間接溫室氣體排放(類別六)
                                        </option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="lead form-label" for="ProcessName" style="color: whitesmoke">過程區域</label>
                                    <select class="" id="dropdown_two" name="dropdown_two" onchange="DropdownTwo(this)"></select>
                                </div>
                                <div class="col-3">
                                    <label class="lead form-label" for="ClassName" style="color: whitesmoke">設備</label>
                                    <select class="" id="dropdown_three" name="dropdown_three"></select>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <input id="submit" type="submit" value="查詢" class="btn btn-outline-light ms-1">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="d-flex">
                        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                            <div class="mb-4">
                                <div class="d-flex justify-content-center">
                                    {% if "_inquire" not in user.username %}
                                        <a type="button" class="btn btn-outline-light me-1" id="addNewPage" href="/new_device/">
                                            新增
                                        </a>
                                    {% endif %}
                                    <div class="d-flex justify-content-center">
                                        <input id="copyLastYear" type="submit" value="複製去年資料" class="btn btn-outline-light me-1">
                                    </div>
                                    <a type="button" class="btn btn-outline-light me-1" id="exportExcel">
                                        匯出Excel
                                    </a>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="importExcel" class="btn btn-outline-light me-1">
                                            匯入Excel
                                        </label>
                                        <input type="file" id="importExcel" name="importExcel" style="display:none">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
        <div class="table-responsive">
            {#            {% if request.session.dropdown_one %}#}
            {#                {{ request.session.dropdown_one }}#}
            {#                {{ request.session.dropdown_two }}#}
            {#                {{ request.session.dropdown_three }}#}
            {#            {% endif %}#}
            <table class="table table-sm" id="table">
                <thead class="text-center" id="table_head">

                </thead>
                <tbody class="text-center" id="table_body">

                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col"><h5 class="modal-title text-warning bg-dark d-flex justify-content-center" id="staticBackdropLabel">注意!!!</h5></div>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <h6>是否刪除此筆資料</h6>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger delete_btn" data-bs-dismiss="modal">確認刪除</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 盤查設定 -->
    <div class="modal fade" id="settings" tabindex="-1" aria-labelledby="CalculateSummaryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col">
                        <h5 class="modal-title text-light bg-dark d-flex justify-content-center" id="settingsTitle">盤查設定</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="yearInput" class="col-3 col-form-label">盤查年份:</label>
                        <div class="col">
                            <input type="text" class="form-control" id="yearInput" name="years" value="{{ years }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="updateYear()">確認</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col"><h5 class="modal-title text-warning bg-dark d-flex justify-content-center" id="exampleModalLongTitle">照片</h5></div>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <div class="container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>名稱</th>
                                <th>照片</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for img in images %}
                                <tr>
                                    <td>{{ img.title }}</td>
                                    <td><img src="{{ ASSETS_ROOT }}/img/team-1.jpg" alt="My Photo"/></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    {#    icon#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b0f00faca8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>


    <script>
        {#    年度篩選器#}
        $("#yearInput").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            orientation: "bottom",
            autoclose: "true",
            endDate: new Date(),
        }).datepicker("setDate", 'now');


        // get the element to animate
        var element = document.getElementById('count-stats');
        var elementHeight = element.clientHeight;

        // listen for scroll event and call animate function

        document.addEventListener('scroll', animate);

        // check if element is in view
        function inView() {
            // get window height
            var windowHeight = window.innerHeight;
            // get number of pixels that the document is scrolled
            var scrollY = window.scrollY || window.pageYOffset;
            // get current scroll position (distance from the top of the page to the bottom of the current viewport)
            var scrollPosition = scrollY + windowHeight;
            // get element position (distance from the top of the page to the bottom of the element)
            var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;

            // is scroll position greater than element position? (is element in view?)
            if (scrollPosition > elementPosition) {
                return true;
            }

            return false;
        }

        var animateComplete = true;

        // animate element when it is in view
        function animate() {

            // is element in view?
            if (inView()) {
                if (animateComplete) {
                    if (document.getElementById('state1')) {
                        const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
                        if (!countUp.error) {
                            countUp.start();
                        } else {
                            console.error(countUp.error);
                        }
                    }
                    if (document.getElementById('state2')) {
                        const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
                        if (!countUp1.error) {
                            countUp1.start();
                        } else {
                            console.error(countUp1.error);
                        }
                    }
                    if (document.getElementById('state3')) {
                        const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
                        if (!countUp2.error) {
                            countUp2.start();
                        } else {
                            console.error(countUp2.error);
                        }

                    }
                    animateComplete = false;
                }
            }
        }

        if (document.getElementById('typed')) {
            var typed = new Typed("#typed", {
                stringsElement: '#typed-strings',
                typeSpeed: 90,
                backSpeed: 90,
                backDelay: 200,
                startDelay: 500,
                loop: true
            });
        }
    </script>

    <script>
        if (document.getElementsByClassName('page-header')) {
            window.onscroll = debounce(function () {
                var scrollPosition = window.pageYOffset;
                var bgParallax = document.querySelector('.page-header');
                var oVal = (window.scrollY / 3);
                bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
            }, 6);
        }
    </script>

    <script>
        // if identity is not IAI dropdown can work
        $("#company_dropdown").change(function () {
            $("#dropdown_one").removeAttr("disabled");
            $("#dropdown_two").removeAttr("disabled");
            $("#dropdown_three").removeAttr("disabled");
        });

        // dropdown_one預選(只執行一次)
        var dropdown_one_selected = (function () {
            var executed = false;
            return function () {
                if (!executed) {
                    executed = true;
                    $("#dropdown_one").val(dropdown_one_val).attr("selected", "");
                }
            };
        })();

        // dropdown_two預選(只執行一次)
        var dropdown_two_selected = (function () {
            var executed = false;
            return function () {
                if (!executed) {
                    executed = true;
                    $("#dropdown_two").val(dropdown_two_val).attr("selected", "");
                }
            };
        })();

        // dropdown_three預選(只執行一次)
        var dropdown_three_selected = (function () {
            var executed = false;
            return function () {
                if (!executed) {
                    executed = true;
                    $("#dropdown_three").val(dropdown_three_val).attr("selected", "");
                }
            };
        })();

        // 下拉選單填值
        /*
        {#if (typeof {{ request.session.dropdown_three }} != "undefined") {#}
        {#    var dropdown_one_val = {{ request.session.dropdown_one }}#}
        {#    var dropdown_two_val = {{ request.session.dropdown_two }}#}
        {#    var dropdown_three_val = {{ request.session.dropdown_three }}#}
                $(document).ready(function () {
                    console.log("type_dropdown_one_val", typeof dropdown_one_val)
                    console.log("type_dropdown_two_val", typeof dropdown_two_val)
                    console.log("type_dropdown_three_val", typeof dropdown_three_val)
                    dropdown_one_selected()
                    DropdownOne(dropdown_one_val)
                    DropdownTwo(dropdown_two_val)
                })
        }*/

        {#function hi(){alert('hi')}#}
        {#$('#submit').on('click',hi());#}

        // 類別>>>選擇過程區域
        {#dropdown_one.addEventListener('change', DropdownOne(this));#}

        function DropdownOne(param) {
            {#console.log("ok")#}
            {#console.log("type", typeof param)#}

            if (typeof param === 'number') {
                var currentClass = param;
            } else if (typeof param === 'string') {
                currentClass = parseInt(param)
            } else if (typeof param === 'object') {
                currentClass = param.value;
            }
            $.ajax({
                url: "{% url 'loadprocess' %}",
                data: {
                    'currentClass': currentClass
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    dropdown_two.innerHTML = ""
                    dropdown_three.innerHTML = ""
                    data.forEach((item, index) => {
                        if (index === 0) {
                            dropdown_two.options.add(new Option('<---請選擇過程區域--->', '0'));
                        }
                        dropdown_two.options.add(new Option(item.p_name, item.cpid));
                    })
                    /*
                    console.log("ok")


                    {#if (typeof {{ request.session.dropdown_two }} != "undefined") {#}
                        dropdown_two_selected()
                    }
                    else {
                        $("#dropdown_two").val("0").attr("selected", "");
                    }*/
                },
            });
        }

        // 選擇過程區域>>>設備
        var dropdown_three = document.getElementById("dropdown_three")

        function DropdownTwo(param) {
            if (typeof param === 'number') {
                var currentProcess = param;
            } else if (typeof param === 'string') {
                currentProcess = parseInt(param)
            } else {
                currentProcess = param.value;
            }
            $.ajax({
                url: "{% url 'loaddevice' %}",
                data: {
                    'currentProcess': currentProcess
                },
                type: 'GET',
                dataType: 'json',
                success: function (d_data) {
                    dropdown_three.innerHTML = ""
                    d_data.forEach((item, index) => {
                        if (index === 0) {
                            dropdown_three.options.add(new Option('<---請選擇設備名稱--->', 0));
                        }
                        dropdown_three.options.add(new Option(item.d_name, item.did));
                    })
                    /*


                    {#if (typeof '{{ request.session.dropdown_three }}' != "undefined") {#}
                        dropdown_three_selected()
                    }
                    else {
                        $("#dropdown_three").val("0").attr("selected", "");
                    }*/
                },

            });
        }

        // 顯示table資料
        var dropdown_one = document.getElementById("dropdown_one")
        var dropdown_two = document.getElementById("dropdown_two")
        var tbody = document.getElementById("table").getElementsByTagName('tbody')[0]
        var table_head = document.getElementById("table_head")
        var table_body = document.getElementById("table_body")

        var thead = document.getElementById("table").getElementsByTagName('thead')[0]
        var tr = document.getElementById("table").getElementsByTagName('tr')[0]
        var style = document.createElement('style');
        $("#submit").on('click', function () {
            var deviceId = dropdown_three.value;
            var company_value = $("#company_dropdown").val()
            var yearInput = $("#yearInput").val()
            //載入標題
            $.ajax({
                url: "{% url 'loadtitle' %}",
                data: {
                    'deviceId': deviceId,
                    'yearInput': yearInput
                },
                type: 'GET',
                dataType: 'json',
                success: function (title) {
                    thead.innerHTML = ""
                    var thead_row_category = thead.insertRow(-1)//加入"分類"列
                    var thead_row_name = thead.insertRow(-1)//加入"標題"列
                    title.forEach((item, index) => {
                        var i = 0;
                        for (const [key, value] of Object.entries((item))) {
                            var tr_c = thead_row_category.insertCell(-1)//加入"分類"框框
                            var a = thead_row_category.appendChild(tr_c)
                            tr_c.innerHTML = key//"分類"框框填質
                            if (i === 0) {
                                tr_c.setAttribute('class', 'table-dark');
                            } else if (i % 2 === 0) {
                                tr_c.setAttribute('class', 'table-light');
                            } else {
                                tr_c.setAttribute('class', 'table-secondary');
                            }
                            tr_c.setAttribute('style', 'border-color: black')
                            value.forEach((item, index) => {
                                var cr_n = thead_row_name.insertCell(-1)//加入"標題"框框
                                thead_row_name.appendChild(cr_n)
                                cr_n.innerHTML = item;//"標題"框框填質
                                if (i === 0) {
                                    cr_n.setAttribute('class', 'table-active')
                                    a.colSpan = index + 1//"分類"列第一個框框空間+1，因為"序號"欄位
                                } else {
                                    a.colSpan = index + 1//"分類"列第一個框框空間+1
                                }
                            })
                            i++;
                        }
                    })
                },
            });


            //載入資料
            if (company_value !== 0) {
                $.ajax({
                    url: "{% url 'loadtable' %}",
                    data: {
                        'deviceId': deviceId,
                        'company_value': company_value,
                        'yearInput': yearInput
                    },
                    type: 'GET',
                    dataType: 'json',
                    success: function (t_data) {
                        {#console.warn(t_data);#}
                        tbody.innerHTML = ""
                        var id = 1;
                        t_data.forEach((item, index) => {
                            var trash = document.createElement('a')//加入"trash button"tag
                            var trash_i_tag = document.createElement('i')//加入"i"tag
                            var pencil = document.createElement('a')//加入"pencil button"tag
                            var pencil_i_tag = document.createElement('i')//加入"i"tag
                            {#var pic = document.createElement('a')//加入"picture button"tag#}
                            {#var pic_i_tag = document.createElement('i')//加入"i"tag#}
                            var row = tbody.insertRow(-1)//加入"第一筆資料"列
                            var delete_squ = row.insertCell(-1)//加入刪除鈕框框
                            var edit_squ = row.insertCell(-1)//加入編輯鈕框框
                            {#var pic_squ = row.insertCell(-1)//加入照片鈕框框#}
                            delete_squ.appendChild(trash)
                            edit_squ.appendChild(pencil)
                            {#pic_squ.appendChild(pic)#}
                            trash.setAttribute('class', 'btn py-0 px-2 m-0 trash_btn')
                            trash.setAttribute('data-bs-toggle', 'modal')
                            trash.setAttribute('data-bs-target', '#staticBackdrop')
                            trash.appendChild(trash_i_tag)
                            pencil.setAttribute('class', 'btn py-0 px-2 m-0 edit_btn')
                            pencil.appendChild(pencil_i_tag)
                            {#pic.setAttribute('class', 'btn py-0 px-2 m-0 pic_btn')#}
                            {#pic.setAttribute('data-bs-toggle', 'modal')#}
                            {#pic.setAttribute('data-bs-target', '#exampleModalCenter')#}
                            {#pic.appendChild(pic_i_tag)#}
                            trash_i_tag.setAttribute('class', 'fa-solid fa-trash-can')
                            pencil_i_tag.setAttribute('class', 'fa-solid fa-pencil btn-size')
                            {#pic_i_tag.setAttribute('class', 'fa-solid fa-image')#}
                            var cr_id = row.insertCell(-1)//加入"序號"框框
                            cr_id.innerHTML = id
                            var datasheet_id = dropdown_three.value;
                            var dropdown_one = $("#dropdown_one").val()
                            var dropdown_two = $("#dropdown_two").val()
                            for (const [key, value] of Object.entries((item))) {
                                if (key === "id") {
                                    pencil.setAttribute('href', '/edit_device/?datasheet=' + datasheet_id + '&single_dataID=' + value + '&dropdown_one=' + dropdown_one + '&dropdown_two=' + dropdown_two)//將資料表id、選種資料id加到href裡，一起丟到後端
                                    pencil.setAttribute('id', value)//設定按鈕的id為設備id
                                    trash.setAttribute('id', value)//設定刪除按鈕的id為設備id
                                    {#pic.setAttribute('id', value)//設定圖片按鈕的id為設備id#}
                                    continue;
                                }
                                var cr_c2 = row.insertCell(-1)//加入"第一筆資料"框框
                                nuLL = value
                                if (value == null) {
                                    nuLL = '-'
                                }
                                cr_c2.innerHTML = nuLL
                            }
                            id++;
                        })
                    },
                });
            } else {
                alert("請先選擇公司名稱")
            }
        })
    </script>

    <!--/*新增跳轉*/-->
    <script>
        var dropdown_three = document.getElementById("dropdown_three")
        //add
        var addNewPage = document.getElementById("addNewPage")
        $("#submit").on('click', function () {
            var deviceId = dropdown_three.value;
            var company_value = $("#company_dropdown").val()
            {#console.warn("新增跳轉", deviceId);#}
            $.ajax({
                url: "{% url 'loadadd' %}",
                data: {
                    'deviceId': deviceId,
                    'company_value': company_value
                },
                type: 'GET',
                dataType: 'json',
            });
        })
    </script>

    <!--/*刪除該筆設備*/-->
    <script>
        var dropdown_three = document.getElementById("dropdown_three")
        $(document).on('click', ".trash_btn", function () {
            var single_dataID = this.id;
            {#console.warn(single_dataID)#}
            var deviceID = dropdown_three.value
            delete_device(single_dataID, deviceID)
        })
    </script>

    <!--/*刪除function*/-->
    <script>
        function delete_device(id, datasheet_id) {
            $(document).on('click', ".delete_btn", function () {
                {#console.warn("single_dataID", id)#}
                $.ajax({
                    url: "{% url 'delete_device' %}",
                    data: {
                        'datasheet_id': datasheet_id,
                        'single_dataID': id
                    },
                    type: 'GET',
                    dataType: 'json',
                    success: function (single_dataID) {
                        var single_data = document.getElementById(single_dataID)
                        {#console.warn(">>>>>>>>>>>", single_data)#}
                        single_data.closest("tr").remove()
                    }
                });
            })
        }
    </script>


    <!-- Excel -->
    <script>
        $(document).ready(function () {
            // 匯出 Excel 按鈕
            $('#exportExcel').on('click', function () {
                let dropdown_three = document.getElementById('dropdown_three');
                let selectedValue = dropdown_three.value;
                let companyValue = $("#company_dropdown").val();

                let data = {did: selectedValue, company_id: companyValue};
                {#console.log(data)#}

                $.ajax({
                    url: "{% url 'export_excel' %}",
                    type: "POST",
                    data: data,
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (blob, status, xhr) {
                        var filename = '';
                        var contentDisposition = xhr.getResponseHeader('Content-Disposition');
                        if (contentDisposition && contentDisposition.indexOf('attachment') !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(contentDisposition);
                            if (matches != null && matches[1]) {
                                filename = decodeURI(matches[1].replace(/['"]/g, ''));
                            }
                        }

                        var downloadLink = document.createElement('a');
                        downloadLink.href = window.URL.createObjectURL(blob);
                        downloadLink.download = filename || 'download.xlsx';
                        downloadLink.style.display = 'none';
                        document.body.appendChild(downloadLink);
                        downloadLink.click();
                        document.body.removeChild(downloadLink);
                    },
                    error: function (xhr, status, error) {
                        alert('匯出 Excel 失敗');
                        {#console.error(xhr.responseText);#}
                    },
                    contentType: 'application/x-www-form-urlencoded',
                    processData: true,
                    cache: false
                });
            });

            // 匯入 Excel 按鈕
            $('#importExcel').on('change', function () {
                let dropdown_three = document.getElementById('dropdown_three');
                let selectedValue = dropdown_three.value;
                let companyValue = $("#company_dropdown").val();


                let formData = new FormData();
                formData.append('did', selectedValue);
                formData.append('excel_file', $('#importExcel')[0].files[0]);
                formData.append('company_id', companyValue)

                $.ajax({
                    url: "{% url 'import_excel' %}",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert('匯入 Excel 成功');
                        {#console.log(data);#}
                        // 在此處執行其他的操作，例如更新頁面資料等
                    },
                    error: function (xhr, status, error) {
                        alert('匯入 Excel 失敗');
                        {#console.error(xhr.responseText);#}
                    },
                });
            });
        });


        $("#copyLastYear").on("click", function () {
            let deviceId = dropdown_three.value;
            let company_value = $("#company_dropdown").val()

            $.ajax({
                type: "GET",
                url: "{% url 'copy_last_year_data' %}",
                data: {
                    'deviceId': deviceId,
                    'company_value': company_value
                },
                dataType: "json",  // 設定回傳的資料型態為 JSON
                success: function (response) {
                    if (response.success) {
                        alert('複製成功！'); // 顯示成功訊息
                    } else {
                        alert(response.message);
                    }
                }
            });
        });
    </script>
    <script>
        function updateYear() {
            const yearInput = document.getElementById("yearInput");
            const yearDisplay = document.getElementById("yearDisplay");
            yearDisplay.textContent = yearInput.value;
        }

        window.addEventListener('load', function () {
            updateYear();
        });
    </script>

{% endblock javascripts %}