{% extends "layouts/base.html" %}
{% block title %} combustion-equipment {% endblock %}
{% block body_class %} combustion-equipment {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>
{% endblock stylesheets %}

{% block content %}
{% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                                    <h3 class="text-white text-primary mb-0">燃燒設備</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/combustion_equipment_add/" name="CEform" method="POST">
                                {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>設備名稱</label>
                                                    <input type="text" id="device_name" name="device_name" class="form-control"  placeholder="" required>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>設備編號</label>
                                                    <input type="text" id="device_id" name="device_id" class="form-control"  oninput="value=value.replace(/[^\d.]/g,'')">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>燃料種類</label>
                                                    <input type="text" id="fuel_type" name="fuel_type" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-3 ps-md-2">
                                                <label class="ms-0" for="start">燃料使用開始時間</label>
                                                <div class="col-6">
                                                    <div class="ms-1 input-group date" id='date1'>
                                                        <input type="date" class="form-control" id="period_starttime" name="period_starttime"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 ps-md-2">
                                                <label class="" for="start">燃料使用結束時間</label>
                                                <div class="col-6">
                                                    <div class="ms-1 input-group date" id='date1'>
                                                        <input type="date" class="form-control" id="period_endtime" name="period_endtime"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40"><br>
                                        <div class="d-flex flex-nowrap">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>一月</th>
                                                    <th>二月</th>
                                                    <th>三月</th>
                                                    <th>四月</th>
                                                    <th>五月</th>
                                                    <th>六月</th>
                                                    <th>七月</th>
                                                    <th>八月</th>
                                                    <th>九月</th>
                                                    <th>十月</th>
                                                    <th>十一月</th>
                                                    <th>十二月</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th width="30">
                                                        加油量
                                                    </th>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_january" name="fuel_january">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_february" name="fuel_february">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_march" name="fuel_march">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_april" name="fuel_april">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_may" name="fuel_may">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_june" name="fuel_june">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_july" name="fuel_july">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_august" name="fuel_august">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_september" name="fuel_september">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_october" name="fuel_october">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_november" name="fuel_november">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="fuel_december" name="fuel_december">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        熱值
                                                    </th>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_january" name="heat_january">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_february" name="heat_february">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_march" name="heat_march">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_april" name="heat_april">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_may" name="heat_may">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_june" name="heat_june">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_july" name="heat_july">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_august" name="heat_august">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_september" name="heat_september">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_october" name="heat_october">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_november" name="heat_november">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <input class="col-6" type="text" id="heat_december" name="heat_december">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br><hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40"><br>
                                    <div class="d-flex">
                                        <div class="col-6">
                                            <div class="input-group input-group-static mb-4">
                                                <label>上傳引用單據</label>
                                                <input type="text" id="image_note"  name="image_note" class="form-control" placeholder="請輸入單據名稱">
                                            </div>
                                        </div>
                                        <div class=" ps-md-2 align-self-center">
                                            <div class="col-1 ">
                                                <input type="file" class="" id="image_path" name="image_path" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                確認
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $('#date1').datetimepicker({
            date: null,
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-tw'),
            disabledDates: [
                moment().add(1, 'days'),
                moment().add(2, 'days'),
                '2021-10-10',
                '2021-12-25'
            ]
        });
    </script>

    {#    禁止enter鍵#}
    <script>
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
{% endblock javascripts %}
