{% extends "layouts/base.html" %}

{% block title %} upstream-transportation {% endblock %}

{% block body_class %} upstream-transportation {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                                    <h3 class="text-white text-primary mb-0">下游運輸</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="contact-form" method="post" autocomplete="off">
                                    <div class="card-body p-0 my-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>驗收單號</label>
                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>商品名稱</label>
                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>商品淨總重量(單位:噸)</label>
                                                    <input type="text" name="" class="form-control" id="number only" placeholder="只能輸入數字">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>國內/國外客戶</label>
                                                    <input type="text" name="" class="form-control" id="" placeholder="請輸入: 國內/國外">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>供應商名稱</label>
                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>供應商地址</label>
                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>貿易條件</label>
                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>接貨地點</label>
                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>送貨地點</label>
                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion" id="accordionPanelsStayOpenExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                        陸運
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                                    <div class="accordion-body">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>單趟運輸距離(單位:公里)</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="(供應商/機場/港口至公司)">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>運輸國家</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>運輸方式</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>交通工具燃料</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="ex. 柴油">
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>趟次</label>
                                                                    <input type="text" name="" class="form-control" id="number only" placeholder="只能輸入數字">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>上傳陸運單據</label>
                                                                    <input type="text" name="number" class="form-control" id="number only" placeholder="請輸入單據名稱">
                                                                </div>
                                                            </div>
                                                            <div class=" ps-md-2 align-self-center">
                                                                <div class="col-1 ">
                                                                    <input type="file" class="" name="image" accept="image/*">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr id="hidehr" style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                        海運
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                                    <div class="accordion-body">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>單趟運輸距離(單位:公里)</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="(供應商/機場/港口至公司)">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>運輸國家</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>運輸方式</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>交通工具燃料</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="ex. 柴油">
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>趟次</label>
                                                                    <input type="text" name="" class="form-control" id="number only" placeholder="只能輸入數字">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>上傳海運單據</label>
                                                                    <input type="text" name="number" class="form-control" id="number only" placeholder="請輸入單據名稱">
                                                                </div>
                                                            </div>
                                                            <div class=" ps-md-2 align-self-center">
                                                                <div class="col-1 ">
                                                                    <input type="file" class="" name="image" accept="image/*">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr id="hidehr" style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                                        陸運(特殊情況)
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                                    <div class="accordion-body">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>單趟運輸距離(單位:公里)</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="(供應商/機場/港口至公司)">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>運輸國家</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>運輸方式</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>交通工具燃料</label>
                                                                    <input type="text" name="" class="form-control" id="" placeholder="ex. 柴油">
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>趟次</label>
                                                                    <input type="text" name="" class="form-control" id="number only" placeholder="只能輸入數字">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="col-6">
                                                                <div class="input-group input-group-static mb-4">
                                                                    <label>上傳陸運單據</label>
                                                                    <input type="text" name="number" class="form-control" id="number only" placeholder="請輸入單據名稱">
                                                                </div>
                                                            </div>
                                                            <div class=" ps-md-2 align-self-center">
                                                                <div class="col-1 ">
                                                                    <input type="file" class="" name="image" accept="image/*">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                    確認
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <script>
        $('#date1').datetimepicker({
            date: null,
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-tw'),
            disabledDates: [
                moment().add(1, 'days'),
                moment().add(2, 'days'),
                '2021-10-10',
                '2021-12-25'
            ]
        });

        $("#datepicker").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
        });

        $(document).ready(function () {
            $(".accordion-button").click(function () {
                $(#hidehr).hide();
            });
        });
    </script>
{% endblock javascripts %}