{% extends "layouts/base.html" %}

{% block title %} emergency-generator {% endblock %}

{% block body_class %} emergency-generator {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css "/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>
{% endblock stylesheets %}

{% block content %}

    {% include 'includes/navigation-light.html' %}

    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                                    <h3 class="text-white text-primary mb-0">發電機</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/emergency_generators_add/" name="form111" method="POST">
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>設備編號{{ EG_add.device_id }}</label>
                                                    <input type="text" class="form-control"
                                                           id="device_id" name="device_id"
                                                           value="123456789">
                                                </div>
                                            </div>
                                            <div class="col-3 ps-md-2">
                                                <label class="ms-0"
                                                       for="start">燃料使用開始時間{{ EG_add.period_starttime }}</label>
                                                <div class="col-6">
                                                    <div class="ms-1 input-group date" id='date1'>
                                                        <input type="date" class="form-control" id="period_starttime"
                                                               name="period_starttime"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 ps-md-2">
                                                <label class=""
                                                       for="start">燃料使用結束時間{{ EG_add.period_endtime }}</label>
                                                <div class="col-6">
                                                    <div class="ms-1 input-group date" id='date1'>
                                                        <input type="date" class="form-control" id="period_endtime"
                                                               name="period_endtime"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group input-group-static mb-4">
                                                <label>發電機容量{{ EG_add.device_capacity }}</label>
                                                <input type='text' class="form-control" id="device_capacity"
                                                       name="device_capacity" max="9999999999" placeholder="單位:公升">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group input-group-static mb-4">
                                                <label>設置地點{{ EG_add.position }}</label>
                                                <input type="text" id="position" name="position" class="form-control"
                                                       value="資訊管理系"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group input-group-static mb-4">
                                                <label>所屬單位{{ EG_add.department }}</label>
                                                <input type="text" id="department" name="department"
                                                       class="form-control" value="管理學院"/>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-nowrap">
                                            <h5 class="col-md-12 text-center" style="color: #7b809a !important;">
                                                加油量(單位：公升)
                                            </h5>
                                        </div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>一月{{ EG_add.january }}</th>
                                                <th>二月{{ EG_add.february }}</th>
                                                <th>三月{{ EG_add.march }}</th>
                                                <th>四月{{ EG_add.april }}</th>
                                                <th>五月{{ EG_add.may }}</th>
                                                <th>六月{{ EG_add.june }}</th>
                                                <th>七月{{ EG_add.july }}</th>
                                                <th>八月{{ EG_add.august }}</th>
                                                <th>九月{{ EG_add.september }}</th>
                                                <th>十月{{ EG_add.october }}</th>
                                                <th>十一月{{ EG_add.november }}</th>
                                                <th>十二月{{ EG_add.december }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="january" name="january"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="february" name="february"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="march" name="march"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="april" name="april"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="may" name="may" value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="june" name="june"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="july" name="july"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="august" name="august"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="september" name="september"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="october" name="october"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="november" name="november"
                                                               value="0">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="col-6" type="text" id="december" name="december"
                                                               value="0">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                                    <div class="d-flex">
                                        <div class="col-6">
                                            <div class="input-group input-group-static mb-4">
                                                <label>上傳引用單據{{ EG_add.image_note }}</label>
                                                <input type="text" name="image_note" class="form-control"
                                                       id="image_note" value="test" placeholder="請輸入單據名稱">
                                            </div>
                                        </div>
                                        <div class=" ps-md-2 align-self-center">
                                            <div class="col-1 "{{ EG_add.image_path }}>
                                                <input type="file" class="" name="image_path" id="image_path"
                                                       accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="col-1">
                                            <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                確認
                                            </button>
                                        </div>
                                        <div class="col-1">
                                            <button type="cancel" class="btn bg-gradient-secondary mt-3 mb-0">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $('#date1').datetimepicker({
            date: null,
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-tw'),
            disabledDates: [
                moment().add(1, 'days'),
                moment().add(2, 'days'),
                '2021-10-10',
                '2021-12-25'
            ]
        });
    </script>
{% endblock javascripts %}
