{% extends "layouts/base.html" %}

{% block title %} 員工出差 - 修改 {% endblock %}

{% block body_class %} employee-business-trip {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                                    <h3 class="text-white text-primary mb-0">修改 ᅳ 員工出差</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'update_device' datasheet_id single_dataID dropdown_one dropdown_two %}" method="POST" enctype=multipart/form-data>
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row mb-4 d-flex align-items-center">
                                            <div class="col-4 ">
                                                <div class="input-group input-group-static">
                                                    <label>出差地點 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.business_trip_location }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static">
                                                    <label>啟程日期 <span style="color:red; font-size:16px;">* </span>&nbsp;</label>
                                                    {{ form.business_trip_date }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static">
                                                    <label>出差單號 <span style="color:red; font-size:16px;">* </span>&nbsp;</label>
                                                    {{ form.business_trip_number }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-4">
                                                <div class="input-group input-group-static">
                                                    <label>員工編號</label>
                                                    {{ form.employee_id }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static">
                                                    <label>姓名 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.employee_name }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static">
                                                    <label>服務部門 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.department }}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row mb-4">
                                            出差段數
                                            {% if update_formset_trip.errors %}
                                                <div class="alert alert-danger">
                                                    {{ update_formset_trip.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div id="trip_section">
                                            {{ update_formset.non_form_errors }}
                                            {{ update_formset.management_form }}
                                            {% for a in update_formset %}
                                                <div class="row mb-4 trip" id="0">
                                                    {% for hidden in a.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <div style="display: none">
                                                        {{ a.DELETE }}
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="input-group input-group-static mb-4">
                                                            <label>出發地 <span style="color:red; font-size:16px;">* </span></label>
                                                            {{ a.departure.hidden_fields }}
                                                            {{ a.departure.errors }}
                                                            {{ a.departure }}
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="input-group input-group-static mb-4">
                                                            <label>交通工具 <span style="color:red; font-size:16px;">* </span></label>
                                                            {{ a.transportation.errors }}
                                                            {{ a.transportation }}
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="input-group input-group-static mb-4">
                                                            <label>距離(單位:pkm) <span style="color:red; font-size:16px;">* </span></label>
                                                            {{ a.distance.errors }}
                                                            {{ a.distance }}
                                                        </div>
                                                    </div>
                                                    <div class="col-2 d-flex align-items-center">
                                                        <div class="input-group input-group-static mb-4">
                                                            <a class="col" onclick="DuplicateTrip()"><i class="fa-solid fa-circle-plus fa-2xl"></i></a>
                                                            <a class="col" onclick="DeleteTrip(this)"><i class="fa-solid fa-circle-minus fa-2xl"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                        <div class="d-flex mb-4">
                                            <div class="col-4">
                                                <div class="input-group input-group-static">
                                                    <label>上傳員工出差引用單據</label>
                                                    {{ form.bt_image_note }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex mb-4">
                                            <div class="ps-md-2 align-self-center">
                                                <div class="col-2" multiple="multiple">
                                                    <input type="hidden" name="stage" id="stage1" value="員工出差段數">
                                                    <input class="form-control-file" type="file" id="attachment1" name="file_field1" multiple="multiple" accept="image/*, .pdf">
                                                </div>
                                            </div>
                                            <div id="files-area">
                                                <span id="filesList1">
                                                    <span id="files-names1"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex mb-4">
                                            <div class="col-6">
                                                <div class="input-group input-group-static">
                                                    <label>上傳距離引用單據</label>
                                                    {{ form.rtd_image_note }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex mb-4">
                                            <div class="ps-md-2 align-self-center">
                                                <div class="col-2" multiple="multiple">
                                                    <input type="hidden" name="stage" id="stage2" value="員工出差">
                                                    <input class="form-control-file" type="file" id="attachment2" name="file_field2" multiple="multiple" accept="image/*, .pdf">
                                                </div>
                                            </div>
                                            <div id="files-area">
                                                <span id="filesList2">
                                                    <span id="files-names2"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-control">
                                                    <label>備註欄</label>
                                                    {{ form.message_board }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <div class="col-1">
                                                <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0" id="submit">
                                                    確認
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <button type="button" class="btn bg-gradient-secondary mt-3 mb-0" id="cancel"
                                                        onclick="history.back()">
                                                    取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    {#    datepicker#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    {#    icon#}
    <script src="https://kit.fontawesome.com/b0f00faca8.js" crossorigin="anonymous"></script>


    <script>
        {#    禁止enter鍵#}
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
                e.preventDefault();
                return false;
            }
        });

        {#    日期篩選器#}
        $("#business_trip_date").datepicker({
            format: "yyyy-mm-dd",
            viewMode: "days",
            minViewMode: "days",
            orientation: "bottom",
            autoclose: "true",
        }).datepicker("setDate", 'now');

        {#    員工出差段數照片顯示檔名+可刪除#}
        const dt1 = new DataTransfer(); // 允許你對輸入文件中的文件進行操作
        $("#attachment1").on('change', function(){
            for(var i = 0; i < this.files.length; i++){
                let fileBloc1 = $('<span/>', {class: 'file-block'}),
                     fileName1 = $('<span/>', {class: 'name', text: this.files.item(i).name});
                fileBloc1.append('<span class="file-delete"><span>+</span></span>')
                    .append(fileName1);
                $("#filesList1 > #files-names1").append(fileBloc1);
            }
            // 將文件添加到DataTransfer對像中
            for (let file of this.files) {
                dt1.items.add(file);
            }
            // 在添加了以下內容後更新輸入文件
            this.files = dt1.files;

            // 創建的刪除按鈕的EventListener
            $('span.file-delete').click(function(){
                let name = $(this).next('span.name').text();
                // 移除文件名的顯示
                $(this).parent().remove();
                for(let i = 0; i < dt1.items.length; i++){
                    // 文件和名稱匹配
                    if(name === dt1.items[i].getAsFile().name){
                        // 在DataTransfer對像中刪除該文件
                        dt1.items.remove(i);
                    }
                }
                // 刪除後更新輸入文件
                document.getElementById('attachment1').files = dt1.files;
            });
        });

        {#    員工出差照片顯示檔名+可刪除#}
        const dt2 = new DataTransfer(); // 允許你對輸入文件中的文件進行操作
        $("#attachment2").on('change', function(){
            for(var i = 0; i < this.files.length; i++){
                let fileBloc2 = $('<span/>', {class: 'file-block'}),
                     fileName2 = $('<span/>', {class: 'name', text: this.files.item(i).name});
                fileBloc2.append('<span class="file-delete"><span>+</span></span>')
                    .append(fileName2);
                $("#filesList2 > #files-names2").append(fileBloc2);
            }
            // 將文件添加到DataTransfer對像中
            for (let file of this.files) {
                dt2.items.add(file);
            }
            // 在添加了以下內容後更新輸入文件
            this.files = dt2.files;

            // 創建的刪除按鈕的EventListener
            $('span.file-delete').click(function(){
                let name = $(this).next('span.name').text();
                // 移除文件名的顯示
                $(this).parent().remove();
                for(let i = 0; i < dt2.items.length; i++){
                    // 文件和名稱匹配
                    if(name === dt2.items[i].getAsFile().name){
                        // 在DataTransfer對像中刪除該文件
                        dt2.items.remove(i);
                    }
                }
                // 刪除後更新輸入文件
                document.getElementById('attachment2').files = dt2.files;
            });
        });


        {#    新增/刪除出差段數#}

        //刪除extra=1新增的空白表單
        var remove_extra = document.querySelectorAll(".trip:last-child")[0]
        remove_extra.remove()
        var TOTAL_FORMS = document.querySelectorAll("#trip_section > input")[0]
        var trip_count = parseInt(TOTAL_FORMS.value, 10) - 1
        var id_count = trip_count
        TOTAL_FORMS.value = id_count.toString()

        //將initial表單排序
        let trip_id = document.querySelectorAll(".trip")
        for (let i = 0; i < id_count; i++) {
            trip_id[i].id = i.toString();
        }

        function DeleteTrip(deletbutton) {
            if (trip_count > 1) {
                trip = deletbutton.closest("div.trip")
                var delete_checkbox = document.getElementById("id_trip_section_set-" + trip.id + "-DELETE")
                console.log(delete_checkbox)
                delete_checkbox.checked = true;
                trip.style.display = "none";
                trip_count -= 1
            }
        }

        function DuplicateTrip() {
            document.getElementById("id_trip_section_set-TOTAL_FORMS").value = (id_count + 1).toString()
            var trip_section = document.getElementById("trip_section")
            var first_trip = document.getElementsByClassName("trip")[0]
            var clone = first_trip.cloneNode(true);
            trip_section.appendChild(clone)
            clone.id = (id_count)
            var hidden = document.querySelectorAll(".trip:last-child > input")
            //主鍵
            hidden[0].name = "trip_section_set-" + id_count + "-id"
            hidden[0].id = "id_trip_section_set-" + id_count + "-id"
            hidden[0].removeAttribute("value")

            //外鍵
            hidden[1].name = "trip_section_set-" + id_count + "-id"
            hidden[1].id = "id_trip_section_set-" + id_count + "-id"

            //刪除
            var deleted = document.querySelectorAll(".trip:last-child > div > input")
            deleted[0].name = "trip_section_set-" + id_count + "-DELETE"
            deleted[0].id = "id_trip_section_set-" + id_count + "-DELETE"

            //輸入欄位
            var input = document.querySelectorAll(".trip:last-child > div > div > input")
            input[0].id = "id_trip_section_set-" + id_count + "-departure"
            input[0].name = "trip_section_set-" + id_count + "-departure"
            input[1].id = "id_trip_section_set-" + id_count + "-distance"
            input[1].name = "trip_section_set-" + id_count + "-distance"
            input[0].value = ""
            input[1].value = ""
            var select = document.querySelectorAll(".trip:last-child > div > div > select")
            select[0].id = "id_trip_section_set-" + id_count + "-transportation"
            select[0].name = "trip_section_set-" + id_count + "-transportation"
            select[0].value = ""
            id_count += 1;
            trip_count += 1;
        }

    </script>
{% endblock javascripts %}