<div class="table-sm table-responsive">
    <table class="table table-sm" id="table">
        <thead class="">
        <tr class="" >
            <th class="table-secondary text-center" scope="col" colspan="4" style="border-color: black">內容</th>
            <th class="table-light text-center" scope="col" colspan="12" style="border-color: black">加油量</th>
        </tr>
        <tr class=" text-center" >
            <th class="table-secondary" scope="col">序號</th>
            <th class="table-secondary" scope="col">原物料號</th>
            <th class="table-secondary" scope="col">原/物料</th>
            <th class="table-secondary" scope="col">名稱</th>
            <th class="table-light" scope="col">一月</th>
            <th class="table-light" scope="col">二月</th>
            <th class="table-light" scope="col">三月</th>
            <th class="table-light" scope="col">四月</th>
            <th class="table-light" scope="col">五月</th>
            <th class="table-light" scope="col">六月</th>
            <th class="table-light" scope="col">七月</th>
            <th class="table-light" scope="col">八月</th>
            <th class="table-light" scope="col">九月</th>
            <th class="table-light" scope="col">十月</th>
            <th class="table-light" scope="col">十一月</th>
            <th class="table-light" scope="col">十二月</th>
        </tr>
        </thead>
        <tbody class="text-center">

        </tbody>
    </table>
</div>