{% extends "layouts/base.html" %}

{% block title %} 公務車 {% endblock %}

{% block body_class %} official-car {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3 d-flex align-items-end">
                                    <h3 class="text-white text-primary mb-0">新增 ᅳ 公務車</h3><h6 class="text-white mb-0">盤查年度: {{ years }}</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/official_car_add/" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row mb-3">
                                            <div class="col-4">
                                                {% for error in OffCar_add.device_id.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>設備編號 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ OffCar_add.device_id }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>所屬單位</label>
                                                    {{ OffCar_add.department }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>車輛類別 <span style="color:red; font-size:16px;">* </span>&nbsp;</label>
                                                    {{ OffCar_add.vehicle_type }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>燃料種類 <span style="color:red; font-size:16px;">* </span>&nbsp;</label>
                                                    {{ OffCar_add.fuel_type }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-check ps-1">
                                            {{ OffCar_add.metering_method.0 }}
                                            {{ OffCar_add.metering_method.1 }}
                                            {{ OffCar_add.metering_method.2 }}
                                            <div class="" id="amountTable">
                                                <div class="d-flex flex-nowrap">
                                                    <h5 class="col-md-12 text-center" id="descriptionColumn" style="color: #7b809a !important;">
                                                        <span style="color:red; font-size:16px;">* </span>
                                                    </h5>
                                                </div>
                                                {% if OffCar_add.errors %}
                                                    <div class="col-12 text-center">
                                                        {% for error in OffCar_add.errors %}
                                                            {% if 'january' == error or 'february' == error or 'march' == error or 'april' == error or 'may' == error or 'june' == error or 'july' == error or 'august' == error or 'september' == error or 'october' == error or 'november' == error or 'december' == error or 'urea_january' == error or 'urea_february' == error or 'urea_march' == error or 'urea_april' == error or 'urea_may' == error or 'urea_june' == error or 'urea_july' == error or 'urea_august' == error or 'urea_september' == error or 'urea_october' == error or 'urea_november' == error or 'urea_december' == error %}
                                                                <li style="color: red">只能輸入正數</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% for error in OffCar_add.errors.數值必須大於零 %}
                                                            <li style="color: red">{{ error }}</li>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>一月</th>
                                                        <th>二月</th>
                                                        <th>三月</th>
                                                        <th>四月</th>
                                                        <th>五月</th>
                                                        <th>六月</th>
                                                        <th>七月</th>
                                                        <th>八月</th>
                                                        <th>九月</th>
                                                        <th>十月</th>
                                                        <th>十一月</th>
                                                        <th>十二月</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr id="monthTable">
                                                        <th width="30">
                                                            加油量
                                                        </th>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.january }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.february }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.march }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.april }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.may }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.june }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.july }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.august }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.september }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.october }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.november }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.december }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr id="ureaTable">
                                                        <th>
                                                            尿素
                                                        </th>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_january }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_february }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_march }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_april }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_may }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_june }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_july }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_august }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_september }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_october }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_november }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ OffCar_add.urea_december }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                    <br>
                                    <div class="d-flex">
                                        <div class="col-6">
                                            <div class="input-group input-group-static mb-4">
                                                <label>上傳引用單據</label>
                                                {{ OffCar_add.image_note }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="ps-md-2 align-self-center">
                                            <div class="col-2" multiple="multiple">
                                                <input type="hidden" name="stage" value="公務車">
                                                <input class="form-control-file" type="file" id="attachment" name="file_field" multiple="multiple" accept="image/*, .pdf">
                                            </div>
                                        </div>
                                        <div id="files-area">
                                            <span id="filesList">
                                                <span id="files-names"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-control">
                                                <label>備註欄</label>
                                                {% for error in OffCar_add.message_board.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                {{ OffCar_add.message_board }}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-center">
                                        <div class="col-auto mx-3">
                                            <button type="submit" name="addAnother" class="btn bg-gradient-secondary mt-3 mb-0">
                                                確認，並新增另一筆
                                            </button>
                                        </div>
                                        <div class="col-auto mx-3">
                                            <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                確認
                                            </button>
                                        </div>
                                        <div class="col-auto mx-3">
                                            <a class="btn bg-gradient-secondary mt-3 mb-0" href="{% url 'carbon-system' %}">
                                                取消
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    {#    datepicker#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>


    <script>

        function handleCheckboxClick() {
            let oil = document.getElementById("id_metering_method_0");
            let electric = document.getElementById("id_metering_method_1");
            let miles = document.getElementById("id_metering_method_2");
            let amountTable = document.getElementById("amountTable");
            let ureaTable = document.getElementById("ureaTable");
            let descriptionColumn = document.getElementById("descriptionColumn");
            let spanElement = document.createElement("span");
            spanElement.innerHTML = '<span style="color:red; font-size:16px;">* </span>';
            if (oil.checked) {
                amountTable.style.display = "table";
                ureaTable.style.display = "table-row";
                descriptionColumn.innerText = ""
                descriptionColumn.innerText = "加油量(單位：公升) "
                descriptionColumn.prepend(spanElement);

            } else if (electric.checked) {
                amountTable.style.display = "table";
                ureaTable.style.display = "none";
                descriptionColumn.innerText = ""
                descriptionColumn.innerText = "用電量(單位：度) "
                descriptionColumn.prepend(spanElement);

            } else if (miles.checked) {
                amountTable.style.display = "table";
                ureaTable.style.display = "none";
                descriptionColumn.innerText = ""
                descriptionColumn.innerText = "公里數(單位：公里) "
                descriptionColumn.prepend(spanElement);

            } else {
                amountTable.style.display = "none";
            }
        }

        {#    顯示新增成功訊息#}
        $(document).ready(function () {
            {% if messages %}
                {% for message in messages %}
                    let success_message = "{{ message }}"
                    alert(success_message);
                {% endfor %}
            {% endif %}
            // 表單錯誤提示
            {% if OffCar_add.errors %}
                let error_name = "";
                let error_input;
                let parentDiv;
                {% for field in OffCar_add %}
                    {% for error in field.errors %}
                        error_name = "{{ field.label }}"
                        console.warn(error_name)
                        error_name = error_name.replaceAll(' ', '_')
                        if (
                            error_name === 'January' || error_name === 'February' || error_name === 'March' || error_name === 'April' ||
                            error_name === 'May' || error_name === 'June' || error_name === 'July' || error_name === 'August' ||
                            error_name === 'September' || error_name === 'October' || error_name === 'November' || error_name === 'December' ||
                            error_name === 'Urea_january' || error_name === 'Urea_february' || error_name === 'Urea_march' || error_name === 'Urea_april' ||
                            error_name === 'Urea_may' || error_name === 'Urea_june' || error_name === 'Urea_july' || error_name === 'Urea_august' ||
                            error_name === 'Urea_september' || error_name === 'Urea_october' || error_name === 'Urea_november' || error_name === 'Urea_december'
                        ) {
                            error_name = error_name.toLowerCase()
                            error_input = document.querySelector("[name=" + error_name + "]");
                            parentDiv = error_input.parentNode;
                            parentDiv.classList.add("border", "border-danger", "border-3");
                        }
                    {% endfor %}
                {% endfor %}
            {% endif %}

            handleCheckboxClick()
        });

        {#    禁止enter鍵#}
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
                e.preventDefault();
                return false;
            }
        });

        // 依照checkbox選擇顯示對應框
        document.addEventListener("DOMContentLoaded", function () {
            let oil = document.getElementById("id_metering_method_0");
            let electric = document.getElementById("id_metering_method_1");
            let miles = document.getElementById("id_metering_method_2");
            let amountTable = document.getElementById("amountTable");
            let ureaTable = document.getElementById("ureaTable");

            amountTable.style.display = "none";
            ureaTable.style.display = "none";
            oil.addEventListener("click", handleCheckboxClick);
            electric.addEventListener("click", handleCheckboxClick);
            miles.addEventListener("click", handleCheckboxClick);
        });


        {#    照片顯示檔名+可刪除#}
        const dt = new DataTransfer(); // 允許操作輸入文件的文件
        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', {class: 'file-block'}),
                    fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
                fileBloc.append('<span class="file-delete"><span>+</span></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
            }
            // 將文件添加到 DataTransfer 對象
            for (let file of this.files) {
                dt.items.add(file);
            }
            // 添加後更新輸入文件中的文件
            this.files = dt.files;

            // 創建的刪除按鈕的事件監聽器
            $('span.file-delete').click(function () {
                let name = $(this).next('span.name').text();
                // 抑製文件名的顯示
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // 匹配文件名
                    if (name === dt.items[i].getAsFile().name) {
                        // 刪除DataTransfer對像中的文件
                        dt.items.remove(i);
                    }
                }
                // 刪除後更新輸入文件中的文件
                document.getElementById('attachment').files = dt.files;
            });
        });
    </script>

{% endblock javascripts %}

