{% extends "layouts/base.html" %}

{% block title %} 公務車 - 修改 {% endblock %}

{% block body_class %} official-car {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3 d-flex align-items-end">
                                    <h3 class="text-white text-primary mb-0">修改 ᅳ 公務車</h3><h6 class="text-white mb-0">盤查年度: {{ years }}</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'update_device' single_dataID %}" method="POST" enctype=multipart/form-data>
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row mb-3">
                                            <div class="col-4">
                                                {% for error in form.device_id.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>設備編號/車牌號碼 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.device_id }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>所屬單位</label>
                                                    {{ form.department }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>車輛類別 <span style="color:red; font-size:16px;">* </span>&nbsp;</label>
                                                    {{ form.vehicle_type }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>燃料種類 <span style="color:red; font-size:16px;">* </span>&nbsp;</label>
                                                    {{ form.fuel_type }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-check ps-1">
                                            <div class="" id="">
                                                <div class="d-flex flex-nowrap">
                                                    <h5 class="col-md-12 text-center" style="color: #7b809a !important;">
                                                        耗用量(單位：公升) <span style="color:red; font-size:16px;">* </span>
                                                    </h5>
                                                </div>
                                                {% if form.errors %}
                                                    <div class="col-12 text-center">
                                                        {% for error in form.errors %}
                                                            {% if 'january' == error or 'february' == error or 'march' == error or 'april' == error or 'may' == error or 'june' == error or 'july' == error or 'august' == error or 'september' == error or 'october' == error or 'november' == error or 'december' == error or 'urea_january' == error or 'urea_february' == error or 'urea_march' == error or 'urea_april' == error or 'urea_may' == error or 'urea_june' == error or 'urea_july' == error or 'urea_august' == error or 'urea_september' == error or 'urea_october' == error or 'urea_november' == error or 'urea_december' == error %}
                                                                <li style="color: red">只能輸入正數</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% for error in form.errors.數值必須大於零 %}
                                                            <li style="color: red">{{ error }}</li>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>一月</th>
                                                        <th>二月</th>
                                                        <th>三月</th>
                                                        <th>四月</th>
                                                        <th>五月</th>
                                                        <th>六月</th>
                                                        <th>七月</th>
                                                        <th>八月</th>
                                                        <th>九月</th>
                                                        <th>十月</th>
                                                        <th>十一月</th>
                                                        <th>十二月</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr id="monthTable">
                                                        <th width="30">
                                                            加油量
                                                        </th>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.january }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.february }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.march }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.april }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.may }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.june }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.july }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.august }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.september }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.october }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.november }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.december }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="display_none" id="ureaTable">
                                                        <th>
                                                            尿素
                                                        </th>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_january }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_february }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_march }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_april }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_may }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_june }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_july }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_august }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_september }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_october }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_november }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                {{ form.urea_december }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row display_none" id="urea_median">
                                            <div class="col-4">
                                                {% for error in form.urea_content_median.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>尿素含量中間值(%) </label>
                                                    {{ form.urea_content_median }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                {% for error in form.urea_water_median.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>尿素水換算中間值(g/cm<sup>3</sup>)</label>
                                                    {{ form.urea_water_median }}
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                        <br>
                                        <div class="d-flex">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>上傳引用單據</label>
                                                    {{ form.image_note }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="ps-md-2 align-self-center">
                                                <div class="col-2" multiple="multiple">
                                                    <input type="hidden" name="stage" value="公務車">
                                                    <input class="form-control-file" type="file" id="attachment" name="file_field" multiple="multiple" accept="image/*, .pdf">
                                                </div>
                                            </div>
                                            <div id="files-area">
                                            <span id="filesList">
                                                <span id="files-names"></span>
                                            </span>
                                            </div>
                                        </div>
                                        <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-control">
                                                    <label>備註欄</label>
                                                    {% for error in form.message_board.errors %}
                                                        <li style="color: red">{{ error }}</li>
                                                    {% endfor %}
                                                    {{ form.message_board }}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="d-flex justify-content-center">
                                            <div class="col-auto mx-3">
                                                <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0 submit">
                                                    確認
                                                </button>
                                            </div>
                                            <div class="col-auto mx-3">
                                                <a class="btn bg-gradient-secondary mt-3 mb-0" href="{% url 'carbon-system' %}">
                                                    取消
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>


    <script>
        {#    禁止enter鍵#}
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
                e.preventDefault();
                return false;
            }
        });

        /*
        function handleCheckboxClick() {
            let oil = document.getElementById("id_metering_method_0");
            let electric = document.getElementById("id_metering_method_1");
            let miles = document.getElementById("id_metering_method_2");
            let amountTable = document.getElementById("amountTable");
            let ureaTable = document.getElementById("ureaTable");
            let descriptionColumn = document.getElementById("descriptionColumn");
            let spanElement = document.createElement("span");
            spanElement.innerHTML = '<span style="color:red; font-size:16px;">* </span>';
            if (oil.checked) {
                amountTable.style.display = "table";
                ureaTable.style.display = "table-row";
                descriptionColumn.innerText = ""
                descriptionColumn.innerText = "加油量(單位：公升) "
                descriptionColumn.prepend(spanElement);

            } else if (electric.checked) {
                amountTable.style.display = "table";
                ureaTable.style.display = "none";
                descriptionColumn.innerText = ""
                descriptionColumn.innerText = "用電量(單位：度) "
                descriptionColumn.prepend(spanElement);

            } else if (miles.checked) {
                amountTable.style.display = "table";
                ureaTable.style.display = "none";
                descriptionColumn.innerText = ""
                descriptionColumn.innerText = "公里數(單位：公里) "
                descriptionColumn.prepend(spanElement);

            } else {
                amountTable.style.display = "none";
            }
        }
         */

        // 表單錯誤提示
        $(document).ready(function () {
            {#handleCheckboxClick()#}
            // 表單錯誤提示
            {% if form.errors %}
                let error_name = "";
                let error_input;
                let parentDiv;
                {% for field in form %}
                    {% for error in field.errors %}
                        error_name = "{{ field.label }}"
                        {#console.warn(error_name)#}
                        error_name = error_name.replaceAll(' ', '_')
                        if (
                            error_name === 'January' || error_name === 'February' || error_name === 'March' || error_name === 'April' ||
                            error_name === 'May' || error_name === 'June' || error_name === 'July' || error_name === 'August' ||
                            error_name === 'September' || error_name === 'October' || error_name === 'November' || error_name === 'December' ||
                            error_name === 'Urea_january' || error_name === 'Urea_february' || error_name === 'Urea_march' || error_name === 'Urea_april' ||
                            error_name === 'Urea_may' || error_name === 'Urea_june' || error_name === 'Urea_july' || error_name === 'Urea_august' ||
                            error_name === 'Urea_september' || error_name === 'Urea_october' || error_name === 'Urea_november' || error_name === 'Urea_december'
                        ) {
                            error_name = error_name.toLowerCase()
                            error_input = document.querySelector("[name=" + error_name + "]");
                            parentDiv = error_input.parentNode;
                            parentDiv.classList.add("border", "border-danger", "border-3");
                        }
                    {% endfor %}
                {% endfor %}
            {% endif %}

            //燃料種類=柴油，顯示尿素欄位
            let fuel_type = document.getElementById('fuel_type')
            let ureaTable = document.getElementById('ureaTable')
            let urea_median = document.getElementById('urea_median')
            if (fuel_type.value === '柴油') {
                ureaTable.style.display = "table-row";
                urea_median.classList.remove('display_none')
            } else {
                ureaTable.style.display = "none";
                urea_median.classList.add('display_none')
            }

            // 編輯電動車資料不能更改加油量
            let vehicle_type = document.getElementById('vehicle_type').value
            let gas_input = document.querySelectorAll("#monthTable > td > div > input")
            if (vehicle_type === '電動車') {
                for (let i = 0; i < fuel_type.options.length; i++) {
                    let option = fuel_type.options[i];
                    option.selected = option.value === '電力';
                }
                fuel_type.disabled = true;
                ureaTable.style.display = "none";
                urea_median.classList.add('display_none')
                for (let i = 0; i < gas_input.length; i++) {
                    gas_input[i].value = '0';
                    gas_input[i].disabled = true;
                }
            }

            // 燃料種類不能選擇'電力'
            for (let i = 0; i < fuel_type.options.length; i++) {
                if(fuel_type.options[i].value === '電力'){
                    fuel_type.options[i].disabled = true;
                }
            }
        });

        {#    照片顯示檔名+可刪除#}
        const dt = new DataTransfer(); // 允許操作輸入文件的文件
        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', {class: 'file-block'}),
                    fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
                fileBloc.append('<span class="file-delete"><span>+</span></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
            }
            // 將文件添加到 DataTransfer 對象
            for (let file of this.files) {
                dt.items.add(file);
            }
            // 添加後更新輸入文件中的文件
            this.files = dt.files;

            // 創建的刪除按鈕的事件監聽器
            $('span.file-delete').click(function () {
                let name = $(this).next('span.name').text();
                // 抑製文件名的顯示
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // 匹配文件名
                    if (name === dt.items[i].getAsFile().name) {
                        // 刪除DataTransfer對像中的文件
                        dt.items.remove(i);
                    }
                }
                // 刪除後更新輸入文件中的文件
                document.getElementById('attachment').files = dt.files;
            });
        });

        function UreaTableDefaultZero() {
            let urea_january = document.getElementById('id_urea_january')
            let urea_february = document.getElementById('id_urea_february')
            let urea_march = document.getElementById('id_urea_march')
            let urea_april = document.getElementById('id_urea_april')
            let urea_may = document.getElementById('id_urea_may')
            let urea_june = document.getElementById('id_urea_june')
            let urea_july = document.getElementById('id_urea_july')
            let urea_august = document.getElementById('id_urea_august')
            let urea_september = document.getElementById('id_urea_september')
            let urea_october = document.getElementById('id_urea_october')
            let urea_november = document.getElementById('id_urea_november')
            let urea_december = document.getElementById('id_urea_december')

            let urea_content_median = document.getElementById('id_urea_content_median')
            let urea_water_median = document.getElementById('id_urea_water_median')

            urea_january.value = "0";
            urea_february.value = "0";
            urea_march.value = "0";
            urea_april.value = "0";
            urea_may.value = "0";
            urea_june.value = "0";
            urea_july.value = "0";
            urea_august.value = "0";
            urea_september.value = "0";
            urea_october.value = "0";
            urea_november.value = "0";
            urea_december.value = "0";

            urea_content_median.value = "";
            urea_water_median.value = "";
        }

        $("#vehicle_type").on('change', function () {
            let vehicle_type = document.getElementById('vehicle_type').value
            let fuel_type = document.getElementById('fuel_type')
            let ureaTable = document.getElementById('ureaTable')
            let urea_median = document.getElementById('urea_median')
            let gas_input = document.querySelectorAll("#monthTable > td > div > input")
            if (vehicle_type === '電動車') {
                for (let i = 0; i < fuel_type.options.length; i++) {
                    let option = fuel_type.options[i];
                    option.selected = option.value === '電力';
                    fuel_type.disabled = true;
                    ureaTable.style.display = "none";
                    urea_median.classList.add('display_none')
                    UreaTableDefaultZero()
                    for (let i = 0; i < gas_input.length; i++) {
                        gas_input[i].value = '0';
                        gas_input[i].disabled = true;
                    }
                }
            } else {
                fuel_type.disabled = false;
                fuel_type.options[0].selected = true;
                ureaTable.style.display = "none";
                urea_median.classList.add('display_none')
                UreaTableDefaultZero()
                for (let i = 0; i < gas_input.length; i++) {
                    gas_input[i].disabled = false;
                }
            }
        })

        fuel_type.addEventListener('change', function () {
            let ureaTable = document.getElementById('ureaTable')
            let urea_median = document.getElementById('urea_median')
            let urea_content_median = document.getElementById('id_urea_content_median')
            let urea_water_median = document.getElementById('id_urea_water_median')
            if (fuel_type.value === '柴油') {
                ureaTable.style.display = "table-row";
                urea_median.classList.remove('display_none')
                urea_content_median.value = "32.50";
                urea_water_median.value = "1.09";
            } else {
                ureaTable.style.display = "none";
                urea_median.classList.add('display_none')
                UreaTableDefaultZero();
            }
        })

        $(".submit").on('click', function () {
            let gas_input = document.querySelectorAll("#monthTable > td > div > input")
            let fuel_type = document.getElementById("fuel_type")
            for (let i = 0; i < gas_input.length; i++) {
                gas_input[i].disabled = false;
            }
            fuel_type.disabled = false;
        })
    </script>
{% endblock javascripts %}