{% extends "layouts/base.html" %}

{% block title %} VOCs-one {% endblock %}

{% block body_class %} VOCs-one {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                                    <h3 class="text-white text-primary mb-0">新增 ᅳ 溶劑、噴霧劑</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/solvent_aerosol_emission_sources_add/" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>年度 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ SAES_add.years }}
                                                </div>
                                            </div>
                                            <div class="col-7">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>溶劑、噴霧劑名稱 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ SAES_add.solvent_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>溶劑、噴霧劑數量(單位: {{ SAES_add.solvent_amount_unit }})<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ SAES_add.solvent_amount }}
                                                </div>
                                            </div>
{#                                            <div class="col-1">#}
{#                                                <div class="input-group input-group-static mb-4">#}
{#                                                    <label>單位<span style="color:red; font-size:16px;">* </span></label>#}
{#                                                    #}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>溶劑、噴霧劑容量(單位: {{ SAES_add.solvent_capacity_unit }})<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ SAES_add.solvent_capacity }}
                                                </div>
                                            </div>
{#                                            <div class="col-1">#}
{#                                                <div class="input-group input-group-static mb-4">#}
{#                                                    <label>單位<span style="color:red; font-size:16px;">* </span></label>#}
{#                                                    #}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>逸散 / 補充量(公噸/年)<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ SAES_add.fugitive_recharge }}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row mb-4">
                                            <div class="col">
                                                溶劑、噴霧劑添加物
                                            </div>
                                        </div>
                                        {{ AdditiveFormSet.management_form }}
                                        {{ AdditiveFormSet.non_form_errors }}
                                        {% for a in AdditiveFormSet %}
                                            <div id="additive_section">
                                                <div class="row mb-4 additive" id="0">
                                                    {% for hidden in a.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <div class="col-3">
                                                        <div class="input-group input-group-static mb-4">
                                                            <label>添加物名稱 <span style="color:red; font-size:16px;">* </span></label>
                                                            {{ a.additive_name.errors }}
                                                            {{ a.additive_name }}
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="input-group input-group-static mb-4">
                                                            <label>添加量(單位: {{ a.additive_unit }}) <span style="color:red; font-size:16px;">* </span></label>
                                                            {{ a.additive_amount.errors }}
                                                            {{ a.additive_amount }}
                                                        </div>
                                                    </div>
{#                                                    <div class="col-1">#}
{#                                                        <div class="input-group input-group-static mb-4">#}
{#                                                            <label>單位 <span style="color:red; font-size:16px;">* </span></label>#}
{#                                                            {{ a.additive_unit.errors }}#}
{#                                                            {{ a.additive_unit }}#}
{#                                                        </div>#}
{#                                                    </div>#}
                                                    <div class="col-3">
                                                        <div class="input-group input-group-static mb-4">
                                                            <label>添加成份 <span style="color:red; font-size:16px;">* </span></label>
                                                            {{ a.additive_ingredient.errors }}
                                                            {{ a.additive_ingredient }}
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="input-group input-group-static mb-4">
                                                            <label>添加比例(%) <span style="color:red; font-size:16px;">* </span></label>
                                                            {{ a.additive_ratio.errors }}
                                                            {{ a.additive_ratio }}
                                                        </div>
                                                    </div>
                                                    <div class="col-1 d-flex align-items-center">
                                                        <div class="input-group input-group-static mb-4">
                                                            <a class="col" onclick="DuplicateTrip()"><i class="fa-solid fa-circle-plus fa-2xl"></i></a>
                                                            <a class="col" onclick="DeleteTrip(this)"><i class="fa-solid fa-circle-minus fa-2xl"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                        <div class="d-flex">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>上傳引用單據</label>
                                                    {{ SAES_add.image_note }}
                                                </div>
                                            </div>
                                            <div class=" ps-md-2 align-self-center">
                                                <div class="col-1 ">
                                                    {{ SAES_add.image_path }}
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-control">
                                                    <label>備註欄</label>
                                                    {{ SAES_add.message_board }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <div class="col-1">
                                                <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                    確認
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <button type="cancel" class="btn bg-gradient-secondary mt-3 mb-0"
                                                        onclick="history.back()">
                                                    取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    {#    datepicker#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    {#    icon#}
    <script src="https://kit.fontawesome.com/b0f00faca8.js" crossorigin="anonymous"></script>

    {#    禁止enter鍵#}
    <script>
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>

    {#    日期篩選器#}
    <script>
        $("#datepicker").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            orientation: "bottom",
            autoclose: "true",
        }).datepicker("setDate", 'now');
    </script>

    {#    新增/刪除出差段數#}
    <script>
        var additive_count = 0;

        function DuplicateTrip() {
            additive_count += 1;
            document.getElementById("id_additive_section_set-TOTAL_FORMS").value = (additive_count + 1).toString()
            var additive_section = document.getElementById("additive_section")
            var first_trip = document.getElementsByClassName("additive")[0]
            var clone = first_trip.cloneNode(true);
            additive_section.appendChild(clone)
            clone.id = (additive_count)
            var input = document.querySelectorAll(".additive:last-child > div > div > input")
            input[0].id = "id_additive_section_set-" + additive_count + "-additive_name"
            input[0].name = "additive_section_set-" + additive_count + "-additive_name"
            input[1].id = "id_additive_section_set-" + additive_count + "-additive_amount"
            input[1].name = "additive_section_set-" + additive_count + "-additive_amount"
            input[2].id = "id_additive_section_set-" + additive_count + "-additive_ingredient"
            input[2].name = "additive_section_set-" + additive_count + "-additive_ingredient"
            input[3].id = "id_additive_section_set-" + additive_count + "-additive_ratio"
            input[3].name = "additive_section_set-" + additive_count + "-additive_ratio"
            input[0].value = ""
            input[1].value = ""
            input[2].value = ""
            input[3].value = ""
            var select = document.querySelectorAll(".additive:last-child > div > div > label > select")
            select[0].id = "id_additive_section_set-" + additive_count + "-additive_unit"
            select[0].name = "additive_section_set-" + additive_count + "-additive_unit"
            select[0].value = ""
        }

        function DeleteTrip(deletbutton) {
            if (additive_count > 0) {
                additive_count -= 1;
                deletbutton.closest("div.additive").remove()
                document.getElementById("id_additive_section_set-TOTAL_FORMS").value = (additive_count + 1).toString()
                var additive = document.getElementsByClassName("additive")
                for (let i = 0; i <= additive_count; i++) {
                    additive[i].id = i.toString()
                    let input = document.querySelectorAll(".additive:nth-child(" + (i + 1) + ") > div > div > input")
                    input[0].id = ("id_additive_section_set-" + i + "-additive_name").toString()
                    input[0].name = ("additive_section_set-" + i + "-additive_name").toString()
                    input[1].id = ("id_additive_section_set-" + i + "-additive_amount").toString()
                    input[1].name = ("additive_section_set-" + i + "-additive_amount").toString()
                    input[2].id = ("id_additive_section_set-" + i + "-additive_ingredient").toString()
                    input[2].name = ("additive_section_set-" + i + "-additive_ingredient").toString()
                    input[3].id = ("id_additive_section_set-" + i + "-additive_ratio").toString()
                    input[3].name = ("additive_section_set-" + i + "-additive_ratio").toString()
                    let select = document.querySelectorAll(".additive:nth-child(" + (i + 1) + ") > div > div > label > select")
                    select[0].id = ("id_additive_section_set-" + i + "-additive_unit").toString()
                    select[0].name = ("additive_section_set-" + i + "-additive_unit").toString()
                }
            }
        }
    </script>
{% endblock javascripts %}