{% extends "layouts/base.html" %}

{% block title %} 廢汙泥 - 修改 {% endblock %}

{% block body_class %} waste-sludge {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                                    <h3 class="text-white text-primary mb-0">修改 ᅳ 廢汙泥</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'update_device' single_dataID %}" method="POST" enctype=multipart/form-data>
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>年度 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.years }}
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>廢棄污泥厭氧處理單元名稱  <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.waste_sludge_treatment_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>污泥進流量(立方公尺/年)<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.waste_sludge_inflow_rate }}
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>平均進流MLSS濃度(mg/L)<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.average_inlet_MLSS_concentration }}
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>CH4捕集系統捕集率<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.CH4_capture_system_rate }}
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>燃燒設備效率<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ form.combustion_equipment_efficiency }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>上傳引用單據</label>
                                                    {{ form.image_note }}
                                                </div>
                                            </div>
                                            <div class=" ps-md-2 align-self-center">
                                                <div class="col-1 ">
                                                    {{ form.image_path }}
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-control">
                                                    <label>備註欄</label>
                                                    {% for error in form.message_board.errors %}
                                                        <li style="color: red">{{ error }}</li>
                                                    {% endfor %}
                                                    {{ form.message_board }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <div class="col-1">
                                                <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                    確認
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <a class="btn bg-gradient-secondary mt-3 mb-0" href="{% url 'carbon-system' %}">
                                                    取消
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>


    <script>
        {#    禁止enter鍵#}
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
                e.preventDefault();
                return false;
            }
        });


        {#    年度篩選器#}
        $("#years").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            orientation: "bottom",
            autoclose: "true",
        });


        {#    購買年份篩選器#}
        $("#years_purchased").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            orientation: "bottom",
            autoclose: "true",
        });


        {#    照片顯示檔名+可刪除#}
        const dt = new DataTransfer(); // 允許操作輸入文件的文件
        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', {class: 'file-block'}),
                    fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
                fileBloc.append('<span class="file-delete"><span>+</span></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
            }
            // 將文件添加到 DataTransfer 對象
            for (let file of this.files) {
                dt.items.add(file);
            }
            // 添加後更新輸入文件中的文件
            this.files = dt.files;

            // 創建的刪除按鈕的事件監聽器
            $('span.file-delete').click(function () {
                let name = $(this).next('span.name').text();
                // 抑製文件名的顯示
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // 匹配文件名
                    if (name === dt.items[i].getAsFile().name) {
                        // 刪除DataTransfer對像中的文件
                        dt.items.remove(i);
                    }
                }
                // 刪除後更新輸入文件中的文件
                document.getElementById('attachment').files = dt.files;
            });
        });
    </script>
{% endblock javascripts %}