{% extends "layouts/base.html" %}

{% block title %} 廢水 {% endblock %}

{% block body_class %} waste-water {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/test.css"/>

{% endblock stylesheets %}


{% block content %}
    {% include 'includes/navigation-light.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column ms-auto me-auto">
                        <div class="card d-flex blur justify-content-center my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3 d-flex align-items-end">
                                    <h3 class="text-white text-primary mb-0">新增 ᅳ 厭氧廢水</h3><h6 class="text-white mb-0">盤查年度: {{ years }}</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/waste_water_add/" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body p-0 my-3">
                                        <div class="row mb-3">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>年度 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ waste_water_add.years }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                {% for error in waste_water_add.Pi.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                <div class="input-group input-group-static mb-4">
                                                    <label>Pi:工業部門生產量(t/yr)</label>
                                                    {{ waste_water_add.Pi }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>Wi:廢水產生量(m3/tproduct) <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ waste_water_add.Wi }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>CODi:化學需氧量(kg COD/m3) <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ waste_water_add.CODi }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>Si:污泥移除量(kg COD/yr) <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ waste_water_add.Si }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>MCFj:甲烷修正係數 <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ waste_water_add.MCFj }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>Bo:最大CH4產生量<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ waste_water_add.Bo }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>Ri:甲烷移除量(kg CH4/yr) <span style="color:red; font-size:16px;">* </span></label>
                                                    {{ waste_water_add.Ri }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>每年事業廢水之COD總量<span style="color:red; font-size:16px;">* </span></label>
                                                    {{ waste_water_add.COD_total }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-4">
                                            <div class="input-group input-group-static mb-4">
                                                <label>上傳引用單據</label>
                                                {{ waste_water_add.image_note }}
                                            </div>
                                        </div>
                                        <div class="col-8 mb-3">
                                            <div class="ps-md-2 align-self-center">
                                                <div class="col-2" multiple="multiple">
                                                    <input type="hidden" name="stage" value="廢水">
                                                    <input class="form-control-file" type="file" id="attachment" name="file_field" multiple="multiple" accept="image/*, .pdf">
                                                </div>
                                            </div>
                                            <div id="files-area">
                                                <span id="filesList">
                                                    <span id="files-names"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="height:2px;border-width:0;color:#343a40;background-color:#343a40">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-control">
                                                <label>備註欄</label>
                                                {% for error in waste_water_add.message_board.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                {% endfor %}
                                                {{ waste_water_add.message_board }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="col-auto mx-3">
                                            <button type="submit" name="addAnother" class="btn bg-gradient-secondary mt-3 mb-0">
                                                確認，並新增另一筆
                                            </button>
                                        </div>
                                        <div class="col-auto mx-3">
                                            <button type="submit" class="btn bg-gradient-secondary mt-3 mb-0">
                                                確認
                                            </button>
                                        </div>
                                        <div class="col-auto mx-3">
                                            <a class="btn bg-gradient-secondary mt-3 mb-0" href="{% url 'carbon-system' %}">
                                                取消
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    {#    Decimal.js#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>



    <script>
        {#    顯示新增成功訊息#}
        $(document).ready(function () {
            {% if messages %}
                {% for message in messages %}
                    let success_message = "{{ message }}"
                    alert(success_message);
                {% endfor %}
            {% endif %}
        });

        {#    禁止enter鍵#}
        $(document).on("keypress", "form", function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
                e.preventDefault();
                return false;
            }
        });

        {#    購買年份篩選器#}
        $("#years_purchased").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            orientation: "bottom",
            autoclose: "true",
        }).datepicker("setDate", 'now');


        {#    照片顯示檔名+可刪除#}
        const dt = new DataTransfer(); // 允許操作輸入文件的文件
        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', {class: 'file-block'}),
                    fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
                fileBloc.append('<span class="file-delete"><span>+</span></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
            }
            // 將文件添加到 DataTransfer 對象
            for (let file of this.files) {
                dt.items.add(file);
            }
            // 添加後更新輸入文件中的文件
            this.files = dt.files;

            // 創建的刪除按鈕的事件監聽器
            $('span.file-delete').click(function () {
                let name = $(this).next('span.name').text();
                // 抑製文件名的顯示
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // 匹配文件名
                    if (name === dt.items[i].getAsFile().name) {
                        // 刪除DataTransfer對像中的文件
                        dt.items.remove(i);
                    }
                }
                // 刪除後更新輸入文件中的文件
                document.getElementById('attachment').files = dt.files;
            });
        });


        // 監聽Wi, CODi, MCFj, Bo欄位的變化
        document.addEventListener('DOMContentLoaded', function () {
            let WiInput = document.getElementById('Wi');
            let CODiInput = document.getElementById('CODi');
            let MCFjInput = document.getElementById('MCFj');
            let BoInput = document.getElementById('Bo');

            [WiInput, CODiInput, MCFjInput, BoInput].forEach(function (input) {
                input.addEventListener('input', calculateCODTotal);
            });
        });

        // 計算並填寫COD_total欄位
        function calculateCODTotal() {
            let Wi = new Decimal(document.getElementById('Wi').value);
            let CODi = new Decimal(document.getElementById('CODi').value);
            let MCFj = new Decimal(document.getElementById('MCFj').value);
            let Bo = new Decimal(document.getElementById('Bo').value);

            let CODTotal = Wi * CODi * MCFj * Bo;
            CODTotal = CODTotal.toFixed(10); // 限制為 10 位小數

            // 將計算結果填入COD_total欄位
            document.getElementById('COD_total').value = CODTotal.toString();
        }

    </script>
{% endblock javascripts %}